<section class="wsl-page-tab" id="wsl-element-tab-metrics">
  <div class="p-4 space-y-4 wsl-box">
    <app-home-list-filter [manager]="filterManager" [params]="filterParams()"
      [stats]="filterStats()" (updateList)="updateList($event)">
    </app-home-list-filter>
    <div class="wsl-list" *ngIf="countShownRows(ItemType.Common)">
      <div class="wsl-list-head">
        <h2>Common Metrics</h2>
        <p>
          Metrics that are both in version {{ params.srcBatchName }}
          {{ suite.latest.batchSlug === params.srcBatchSlug ? '(latest)' : '' }}
          and in version {{ params.dstBatchName }}
          {{ suite.baseline.batchSlug === params.dstBatchSlug ? '(baseline)' : '' }}
        </p>
        <p
          *ngIf="countShownRows(ItemType.Common) !== countRows(ItemType.Common)">
          You are viewing
          <b>{{ countShownRows(ItemType.Common) | i18nPlural: { '=1': 'one', 'other': '#' } }}</b>
          of {{ countRows(ItemType.Common) }} common metrics.
        </p>
      </div>
      <ul class="wsl-list-body">
        <li class="wsl-list-item-outer"
          *ngFor="let item of getShownRows(ItemType.Common); let i = index;"
          (click)="selectedRow = i"
          [ngClass]="{'bg-sky-50 dark:bg-gray-900': selectedRow === i}">
          <app-element-item-metric [key]="item" [params]="params">
          </app-element-item-metric>
        </li>
      </ul>
    </div>
    <div class="wsl-list" *ngIf="countShownRows(ItemType.Fresh)">
      <div class="wsl-list-head">
        <h2>New Metrics</h2>
        <p>
          Metrics that are submitted in version {{ params.srcBatchName }}
          {{ suite.latest.batchSlug === params.srcBatchSlug ? '(latest)' : '' }}
          but were not included in version {{ params.dstBatchName }}
          {{ suite.baseline.batchSlug === params.dstBatchSlug ? '(baseline)' : '' }}
        </p>
        <p *ngIf="countShownRows(ItemType.Fresh) !== countRows(ItemType.Fresh)">
          You are viewing
          <b>{{ countShownRows(ItemType.Fresh) | i18nPlural: { '=1': 'one', 'other': '#' } }}</b>
          of {{ countRows(ItemType.Fresh) }} new metrics.
        </p>
      </div>
      <ul class="wsl-list-body">
        <li class="wsl-list-item-outer"
          *ngFor="let item of getShownRows(ItemType.Fresh); let i = index;"
          (click)="selectedRow = i + countShownRows(ItemType.Common)"
          [ngClass]="{'bg-sky-50 dark:bg-gray-900': selectedRow === i + countShownRows(ItemType.Common)}">
          <app-element-item-metric [key]="item" [params]="params">
          </app-element-item-metric>
        </li>
      </ul>
    </div>
    <div class="wsl-list" *ngIf="countShownRows(ItemType.Missing)">
      <div class="wsl-list-head">
        <h2>Missing Metrics</h2>
        <p>
          Metrics that were included in version
          {{ params.dstBatchName }}
          {{ suite.baseline.batchSlug === params.dstBatchSlug ? '(baseline)' : '' }}
          but are not submitted in version {{ params.srcBatchName }}
          {{ suite.latest.batchSlug === params.srcBatchSlug ? '(latest)' : '' }}
        </p>
        <p
          *ngIf="countShownRows(ItemType.Missing) !== countRows(ItemType.Missing)">
          You are viewing
          <b>{{ countShownRows(ItemType.Missing) | i18nPlural: { '=1': 'one', 'other': '#' } }}</b>
          of {{ countRows(ItemType.Missing) }} missing metrics.
        </p>
      </div>
      <ul class="wsl-list-body">
        <li class="wsl-list-item-outer"
          *ngFor="let item of getShownRows(ItemType.Missing); let i = index;"
          (click)="selectedRow = i + countShownRows(ItemType.Common) + countShownRows(ItemType.Fresh);"
          [ngClass]="{'bg-sky-50 dark:bg-gray-900': selectedRow === i + countShownRows(ItemType.Common) + countShownRows(ItemType.Fresh)}">
          <app-element-item-metric [key]="item" [params]="params">
          </app-element-item-metric>
        </li>
      </ul>
    </div>
    <app-home-list-pager [params]="pagerParams()" [stats]="filterStats()"
      (updateList)="updateList($event)">
    </app-home-list-pager>
  </div>
</section>
