<div class="wsl-list-item md:space-x-4">
  <div class="wsl-item-heading">
    <div
      class="wsl-item-status"
      [tippy]="meta.icon.tooltip"
      placement="left"
      [delay]="[500, 100]">
      <fa-icon
        [icon]="meta.icon.type"
        [ngStyle]="{ color: meta.icon.color }"></fa-icon>
    </div>
    <div class="wsl-item-title">
      <p [title]="metric.name">
        {{ metric.name }}
      </p>
    </div>
  </div>
  <div class="wsl-item-topics">
    <div
      class="wsl-item-topic"
      *ngIf="meta.changeType === MetricChangeType.Fresh">
      {{ metric.duration() | datetime : 'duration' }} in version
      {{ params.srcBatchName }}
    </div>
    <div
      class="wsl-item-topic"
      *ngIf="meta.changeType === MetricChangeType.Missing">
      {{ metric.duration() | datetime : 'duration' }} in version
      {{ params.dstBatchName }}
    </div>
    <div
      class="wsl-item-topic"
      *ngIf="meta.changeType === MetricChangeType.Same">
      {{ metric.duration() | datetime : 'duration' }}
    </div>
    <div
      class="wsl-item-topic"
      *ngIf="meta.changeType === MetricChangeType.Same">
      same as in version {{ params.dstBatchName }}
    </div>
    <div
      class="wsl-item-topic"
      *ngIf="meta.changeType === MetricChangeType.Faster">
      {{ metric.absoluteDifference() | datetime : 'duration' }}
      ({{ metric.changeDescription() }}
      <b class="wsl-text-success">faster</b>
      than in version {{ params.dstBatchName }})
    </div>
    <div
      class="wsl-item-topic"
      *ngIf="meta.changeType === MetricChangeType.Slower">
      {{ metric.absoluteDifference() | datetime : 'duration' }}
      ({{ metric.changeDescription() }}
      <b class="wsl-text-danger">slower</b>
      than in version {{ params.dstBatchName }})
    </div>
  </div>
</div>
