<div class="shadow-md flex flex-col h-full">
  <div class="p-4 bg-lblue-700 rounded-t-md space-y-2">
    <div class="flex justify-between">
      <div>
        <h4 class="text-lg text-white font-medium">{{ plan.title }}</h4>
      </div>
      <div class="flex items-center justify-center">
        <p class="text-lg text-white font-medium" *ngIf="plan.fee">
          {{ plan.fee | currency:'USD':'symbol':'1.0' }}<small
            class="text-sm opacity-75">/Month</small></p>
      </div>
    </div>
    <p class="text-sm text-white">{{ plan.description }}</p>
  </div>
  <div
    class="p-4 flex-grow flex flex-col justify-between bg-white rounded-b-md space-y-4">
    <div class="space-y-2">
      <div class="flex space-x-4" *ngFor="let feature of plan.features">
        <div>
          <svg class="inline h-6 text-green-600"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
          </svg>
        </div>
        <p class="text-sm leading-6">{{ feature }}</p>
      </div>
    </div>
    <div class="flex justify-center">
      <button class="wsl-btn-lg wsl-btn-light"
        type="button">{{ plan.button.title }}</button>
    </div>
  </div>
</div>
