<div class="bg-gray-100">
  <app-header-outside></app-header-outside>
  <div class="wsl-min-h-screen-1 mx-auto container">
    <div class="p-4 mb-4 text-center flex flex-col justify-center"
      style="min-height:20vh;">
      <h2 class="py-2 text-4xl font-extrabold text-lblue-700">Pricing that fits
        your size.</h2>
      <p class="text-xl">Scale as you grow. Free forever for individuals and
        non-profits.</p>
    </div>
    <div class="container auto-cols-fr">
      <div class="grid grid-cols-4 gap-4">
        <wsl-page-pricing-plan class="col-span-1" [plan]="plans[0]">
        </wsl-page-pricing-plan>
        <wsl-page-pricing-plan class="col-span-1" [plan]="plans[1]">
        </wsl-page-pricing-plan>
        <wsl-page-pricing-plan class="col-span-1" [plan]="plans[2]">
        </wsl-page-pricing-plan>
        <wsl-page-pricing-plan class="col-span-1" [plan]="plans[3]">
        </wsl-page-pricing-plan>
      </div>
    </div>
  </div>
</div>
