root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{txt,cmake,fbs,kts}]
indent_size = 4
indent_style = space

[*.{cpp,hpp,c,h,html,java,js,json,md,mjml,pug,scss,sty,svg,tex,ts,yml}]
indent_size = 2
indent_style = space

[*.py]
profile = black
