api/dist/
api/e2e/.env/
api/e2e/logs/
api/local/tests/
api/node_modules/
app/.angular/
app/dist/
cmp/local/
data/minio/
data/mongo/
data/redis/
docs/.docusaurus/
docs/build/
examples/cpp/local/
examples/java/.gradle/
examples/python/.env/
examples/python/.python-version
local/logs/api/
local/logs/cmp/
node_modules/
packages/**/coverage/
packages/**/dist
packages/**/node_modules
sdk/cpp/local/
sdk/java/.gradle/
sdk/java/**/build/
sdk/js/examples/**/dist/
sdk/js/packages/**/dist/
sdk/js/packages/**/coverage/
sdk/js/local/
sdk/python/.coverage
sdk/python/.env/
sdk/python/.python-version
sdk/python/local/
sdk/python/touca.egg-info/
sdk/python/**/__pycache__/
web/.next/
web/public/sw.js*
web/public/workbox-*.js*
