api/dist/
api/e2e/.env/
api/e2e/logs/
api/node_modules/
app/.angular/
app/dist/
data/minio/
data/mongo/
data/redis/
docs/.docusaurus/
docs/build/
examples/cpp/local/
examples/cpp/results/
examples/java/.gradle/
examples/java/**/build/
examples/java/**/results/
examples/js/**/dist/
examples/js/**/results/
examples/python/.env/
examples/python/.python-version
examples/python/04_python_image_processing/out
examples/python/06_python_computer_vision/out
examples/python/07_python_ml_pipeline/out
local/logs/
local/api/
node_modules/
packages/**/coverage/
packages/**/dist
packages/**/node_modules
sdk/cpp/local/
sdk/java/.gradle/
sdk/java/**/build/
sdk/js/examples/**/dist/
sdk/js/packages/**/dist/
sdk/js/packages/**/coverage/
sdk/js/local/
sdk/python/.coverage
sdk/python/.env/
sdk/python/.python-version
sdk/python/local/
sdk/python/touca.egg-info/
sdk/python/**/__pycache__/
web/.next/
web/public/sw.js*
web/public/workbox-*.js*
