/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use 'utilities.scss';

@mixin main($background-color) {
  --alpha: 0.9;
  background-color: rgba($background-color, var(--alpha));
  border-radius: .2rem;
  font-size: .875rem;
  line-height: 1.5;
  outline: none;
  padding: .25rem .5rem;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem rgba($background-color, 0.5);
  }
  &:hover {
    --alpha: 1;
  }
}

@mixin danger {
  @include main($background-color: utilities.weasel-color("text-danger"));
  border: 1px solid utilities.weasel-color("text-danger");
  color: white;
}

@mixin dark {
  @include main($background-color: utilities.weasel-color("template-strong-secondary"));
  border: 1px solid transparent;
  color: utilities.weasel-color("template-contrast-primary");
}

@mixin light {
  @include main($background-color: utilities.weasel-color("background-lightgray"));
  border: 1px solid utilities.weasel-color("border-gray");
}

@mixin link {
  @include main($background-color: #ffffff);
  border: none;
  color: utilities.weasel-color("template-strong-secondary") !important;
  text-decoration: underline;
}

@mixin group {
  button:not(:first-child) {
    margin-left: 0.5rem;
  }
}
