/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use 'button.scss';
@use 'utilities.scss';
@use 'variables.scss';

@mixin border-top {
  margin-top: 1rem;
  border-top: 1px solid utilities.weasel-color("border-gray");
}

@mixin border-bottom {
  margin-bottom: 1rem;
  border-bottom: 1px solid utilities.weasel-color("border-gray");
}

@mixin main {
  display: flex;
  padding: 1rem 0;
  button {
    font-size: small;
    b {
      font-weight: 500;
    }
  }
  form {
    flex-grow: 1;
  }
  .wsl-filter-component {
    li {
      cursor: pointer;
      font-size: small;
    }
    input:focus {
      outline: none;
    }
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

@mixin reset {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  p {
    margin-bottom: 0;
  }
}

@mixin empty {
  align-items: center;
  background-color: utilities.weasel-color("background-lightgray");
  display: flex;
  font-size: small;
  justify-content: center;
  border: 1px solid utilities.weasel-color("border-gray");
  min-height: 20vh;
  padding: 0.5rem;
  div {
    text-align: center;
  }
}
