/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use 'utilities.scss';
@use 'variables.scss';

@mixin topics() {
  .wsl-item-topics {
    color: utilities.weasel-color("text-muted");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;
    .wsl-item-topic {
      min-width: 4rem;
      margin-right: 1rem;
      user-select: none;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@mixin main() {
  $line-height: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .wsl-item-heading {
    display: flex;
    margin-bottom: 0.5rem;
    margin-right: auto;
    .wsl-item-status {
      line-height: $line-height;
      margin-right: 0.5rem;
    }
    .wsl-item-title {
      a {
        text-decoration: none;
      }
      h4 {
        font-size: medium !important;
        line-height: $line-height;
        margin: 0;
      }
    }
    .wsl-item-subtitle {
      color: utilities.weasel-color("text-muted");
      font-size: small;
      line-height: $line-height;
      padding: 0 1rem;
    }
  }
  .wsl-item-ctrl-box {
    color: utilities.weasel-color("text-muted");
    display: flex;
    flex-direction: row-reverse;
    font-size: small;
    line-height: $line-height;
    min-width: 10%;
    .wsl-item-ctrl {
      padding: 0 0.5rem;
      cursor: pointer;
      fa-icon {
        opacity: 0.25;
        font-size: 1.25em;
      }
      &:hover fa-icon {
        opacity: 1;
      }
    }
  }
  @include topics();
  @media (min-width: #{variables.$weasel-breakpoint-sm}) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  @media (min-width: #{variables.$weasel-breakpoint-md}) {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .wsl-item-heading {
      margin-bottom: unset;
    }
    .wsl-item-topics {
      line-height: $line-height;
      padding-left: unset;
    }
  }
}
