/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use "./utilities";

@mixin main() {
  $side-whitespace: 0rem;
  .wsl-list-head {
    font-size: small;
    padding: 0 $side-whitespace;
    p {
      font-size: small;
      margin-bottom: 0.5rem;
      color: utilities.weasel-color("text-muted");
    }
  }
  ul.wsl-list-body {
    list-style: none;
    margin: 0 $side-whitespace 1rem;
    padding: 0;
    li.wsl-list-item-outer {
      border-bottom: 1px solid utilities.weasel-color("border-gray");
      &:first-child {
        border-top: 1px solid utilities.weasel-color("border-gray");
      }
      &:hover {
        background-color: utilities.weasel-color("background-lightgray");
      }
    }
    li.wsl-list-item-focused {
      background-color: utilities.weasel-color("background-lightfocus") !important;
    }
  }
}
