/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use 'utilities.scss';
@use 'form.scss';

@mixin main {
  .wsl-modal-header {
    background-color: utilities.weasel-color("background-lightgray");
    border-bottom: 1px solid utilities.weasel-color("border-gray");
    border-radius: 0.3rem 0.3rem 0 0;
    padding: 0.75rem;
    h4 {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
  .wsl-modal-body {
    padding: 0.5rem 1.25rem 0;
  }
  .wsl-modal-footer {
    background-color: utilities.weasel-color("background-lightgray");
    border-top: 1px solid utilities.weasel-color("border-gray");
    border-radius: 0 0 0.3rem 0.3rem;
    padding: 0.75rem;
  }
}

@mixin confirm {
  @include main();
  form {
    @include form.main();
    textarea.form-control {
      font-size: 0.9rem;
    }
  }
  p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0.5rem;
  }
}
