/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use 'button.scss';
@use 'utilities.scss';
@use 'variables.scss';

@mixin tab {
  @include utilities.weasel-container();
  padding: 1rem;
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: small;
    text-align: justify;
  }
}

@mixin head {
  background-color: utilities.weasel-color("background-lightgray");
  border-bottom: 1px solid utilities.weasel-color("border-gray");
  .wsl-page-head-content {
    @include utilities.weasel-container();
    display: flex;
    padding: 1rem 1rem 0.5rem;
    nav {
      font-size: 1.15rem;
      font-weight: 500;
      line-height: 31px;
      ol {
        display: flex;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
      }
      li:not(:last-child) {
        color: utilities.weasel-color("text-link");
      }
      li:not(:last-child):after {
        content: "\2002/\2002";
        color: initial;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      & + div {
        flex-grow: 1;
      }
    }
    button:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
  .wsl-page-nav {
    @include utilities.weasel-container();
    display: flex;
    nav {
      & + div {
        flex-grow: 1;
      }
    }
    ul {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      padding: 0;
    }
    li {
      border-bottom: 1px solid transparent;
      cursor: pointer;
      font-size: 0.9rem;
      line-height: 2.5rem;
      padding: 0.25rem 1rem;
      a {
        color: inherit;
        text-decoration: none;
      }
      span {
        line-height: 18px;
        padding: 0 0.25rem;
        &:first-child {
          padding-left: 0rem;
        }
        &:last-child {
          padding-right: 0rem;
        }
        &.wsl-nav-icon {
          color: utilities.weasel-color("text-muted");
          display: none;
        }
        @media (min-width: #{variables.$weasel-breakpoint-md}) {
          &.wsl-nav-icon {
            display: inline-block;
          }
        }
      }
      .wsl-nav-counter {
        background-color: #eee;
        border-radius: 50%;
        display: inline-block;
        font-size: small;
        margin: 0.25rem;
        min-width: 20px;
        padding: 0;
        text-align: center;
        user-select: none;
      }
      &:active, &:hover, &.wsl-page-tab-active {
        border-bottom: 1px solid utilities.weasel-color("template-strong-primary");
      }
    }
  }
}

@mixin overview {
  @include utilities.weasel-container();
  &>div {
    background-color: utilities.weasel-color("background-lightgray");
    border: 1px solid #eee;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0.5rem 0;
    &>div {
      padding: 0 1rem;
      text-align: center;
      &:nth-child(even) {
        align-self: center;
      }
      &:not(:last-child) {
        border-right: 1px solid #eee;
      }
      svg circle {
        transition: 0.35s stroke-dashoffset;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
      }
      small {
        display: block;
      }
    }
  }
  p {
    font-size: small;
    margin-bottom: 0.5rem;
  }
}
