<app-header-outside></app-header-outside>
<div class="wsl-banner-nohead">
  <h2>Page Not Found</h2>
  <h3>Houston, we have a problem!</h3>
  <hr>
  <img src="./assets/undraw/undraw_not_found_60pq.svg" />
  <hr>
  <p>
    The page or document you requested is not accessible.
    This might be due that no such page or document exists or you
    have insufficient privileges to access it.
    If you think you are encountering this page by error, please
    <a href="/feedback">contact</a> your administrator.
  </p>
  <button type="button" routerLink="/" class="wsl-btn-dark">
    Back to Home
  </button>
</div>
<app-footer-outside></app-footer-outside>
