/* You can override the default Infima variables here. */
:root {
  --wsl-color-dark-100: #f1f1f1;
  --wsl-color-dark-200: #f6f8fa;
  --wsl-color-dark-300: #ffffff;
  --ifm-color-primary: #0284c7;
  --ifm-color-primary-dark: #0369a1;
  --ifm-color-primary-darker: #075985;
  --ifm-color-primary-darkest: #0c4a6e;
  --ifm-color-primary-light: #0ea5e9;
  --ifm-color-primary-lighter: #38bdf8;
  --ifm-color-primary-lightest: #7dd3fc;
  --ifm-code-font-size: 90%;
  --ifm-navbar-item-padding-horizontal: 0.5rem;
  --ifm-navbar-item-padding-vertical: 0.5rem;
  --ifm-navbar-height: 4rem;
  --ifm-navbar-padding-vertical: 0.5rem;
  --ifm-navbar-background-color: var(--ifm-footer-background-color);
  --ifm-footer-padding-vertical: var(--ifm-spacing-vertical);
  --ifm-background-color: var(--wsl-color-dark-300) !important;
  --ifm-hr-background-color: var(--wsl-color-dark-100);
  --docusaurus-highlighted-code-line-bg: #ddf3ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --wsl-color-dark-100: #08344e;
  --wsl-color-dark-200: #041f2f;
  --wsl-color-dark-300: #0d0d1c;
  --ifm-color-primary: #0ea5e9;
  --ifm-color-primary-dark: #0284c7;
  --ifm-color-primary-darker: #0369a1;
  --ifm-color-primary-darkest: #075985;
  --ifm-color-primary-light: #38bdf8;
  --ifm-color-primary-lighter: #7dd3fc;
  --ifm-color-primary-lightest: #bae6fd;
  --docusaurus-highlighted-code-line-bg: var(--wsl-color-dark-200);
}

.navbar {
  background: linear-gradient(
    90deg,
    var(--wsl-color-dark-300),
    var(--wsl-color-dark-200),
    var(--wsl-color-dark-300),
    var(--wsl-color-dark-100)
  );
  border-bottom: 1px solid var(--ifm-hr-background-color);
  box-shadow: none;
}
nav.menu::-webkit-scrollbar {
  display: none;
}
nav.menu {
  background: linear-gradient(
    30deg,
    var(--wsl-color-dark-300),
    var(--wsl-color-dark-200),
    var(--wsl-color-dark-300)
  );
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-right: 1px solid var(--ifm-hr-background-color);
}
.footer {
  background: linear-gradient(
    90deg,
    var(--wsl-color-dark-300),
    var(--wsl-color-dark-200),
    var(--wsl-color-dark-300),
    var(--wsl-color-dark-200),
    var(--wsl-color-dark-300)
  );
  border-top: 1px solid var(--ifm-hr-background-color);
}
[data-theme="dark"] .alert {
  background: linear-gradient(
    45deg,
    var(--wsl-color-dark-100),
    var(--wsl-color-dark-200),
    var(--wsl-color-dark-200)
  );
}
pre code {
  font-size: 1rem !important;
  background-color: var(--wsl-color-dark-200);
}
nav.pagination-nav > a {
  background: linear-gradient(
    15deg,
    var(--wsl-color-dark-300),
    var(--wsl-color-dark-200)
  );
}

.navbar__logo {
  height: 2.5rem;
}

.footer__copyright {
  font-size: 0.875rem;
}

.header-github-link:hover,
.header-twitter-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme="dark"] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-twitter-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme="dark"] .header-twitter-link::before {
  background: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E")
    no-repeat;
}

.tabs-container {
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.tabs-container ul + div {
  padding-bottom: 1rem;
}

.tabs {
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

div[role="tabpanel"] {
  padding: 0 1rem;
}

.menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}
