@tailwind base;
@tailwind components;
@tailwind utilities;

.wsl-text-shadow {
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
}

.wsl-min-h-screen-1 {
  min-height: calc(100vh - 5rem);
}

.wsl-min-h-screen-3 {
  min-height: calc(100vh - 5rem);
}

@media (min-width: 1536px) {
  .wsl-min-h-screen-3 {
    min-height: calc(100vh - 15rem);
  }
}

@layer components {
  .wsl-btn-green {
    @apply font-semibold text-white duration-150 ease-in-out bg-green-600 shadow-md hover:bg-green-700 focus:border-gray-200 focus:outline-none focus:ring-0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
  .wsl-header-btn-primary {
    @apply px-4 py-2 text-sm leading-6 rounded-lg wsl-btn-green;
  }
  .wsl-header-btn-secondary {
    @apply px-2 py-2 text-sm font-semibold leading-6 text-white duration-150 ease-in-out bg-transparent rounded-lg lg:px-4 hover:bg-dark-blue-700 focus:ring-0;
  }
}
