<div class="wsl-list-item">
  <div class="wsl-item-heading">
    <div class="wsl-item-status">
      <fa-icon icon="user"></fa-icon>
    </div>
    <div class="wsl-item-title">
      <h4>{{ item.fullname }}</h4>
    </div>
    <div class="wsl-item-subtitle">
      {{ item.email }}
    </div>
  </div>
  <div class="d-flex">
    <div class="wsl-item-topics">
      <div class="wsl-item-topic">
        {{ item.username }}
      </div>
    </div>
    <div class="wsl-item-ctrl-box wsl-screen-only" *ngIf="isTeamAdmin">
      <div class="wsl-item-ctrl" title="Accept Request to Join this Team" (click)="accept()">
        <fa-icon icon="user-plus"></fa-icon>
      </div>
      <div class="wsl-item-ctrl" title="Decline Request to Join this Team" (click)="decline()">
        <fa-icon icon="user-minus"></fa-icon>
      </div>
    </div>
  </div>
</div>
