<div class="wsl-list-item">
  <div class="wsl-item-heading">
    <div class="wsl-item-status">
      <fa-icon icon="user" class="text-lblue-600"></fa-icon>
    </div>
    <div class="wsl-item-title">
      <h4>{{ item.fullname }}</h4>
    </div>
    <div class="wsl-item-subtitle">
      {{ item.email }}
    </div>
  </div>
  <div class="wsl-item-topics">
    <div class="wsl-item-topic">
      {{ item.invitedAt | amTimeAgo }}
    </div>
    <div *ngIf="isTeamAdmin" class="wsl-item-ctrl-box">
      <div title="Rescind Invitation to Team" (click)="rescind()" class="wsl-item-ctrl">
        <fa-icon icon="user-minus"></fa-icon>
      </div>
    </div>
  </div>
</div>
