<div class="wsl-list-item">
  <div class="wsl-item-heading">
    <div class="wsl-item-status">
      <fa-icon icon="user"></fa-icon>
    </div>
    <div class="wsl-item-title">
      <h4>{{ item.fullname }}</h4>
    </div>
    <div class="wsl-item-subtitle">
      {{ item.email }}
    </div>
  </div>
  <div class="d-flex">
    <div class="wsl-item-topics">
      <div class="wsl-item-topic">
        {{ item.invitedAt | amTimeAgo }}
      </div>
    </div>
    <div class="wsl-item-ctrl-box wsl-screen-only" *ngIf="isTeamAdmin">
      <div class="wsl-item-ctrl" title="Rescind Invitation to Team" (click)="rescind()">
        <fa-icon icon="user-minus"></fa-icon>
      </div>
    </div>
  </div>
</div>
