<section class="wsl-page-tab" id="wsl-team-tab-suites">
  <app-home-list-filter [manager]="filterManager" [params]="filterParams()"
    [stats]="filterStats()" (updateList)="updateList($event)">
  </app-home-list-filter>
  <div class="wsl-list" *ngIf="countShownRows(ItemType.Suite)">
    <div class="wsl-list-head">
      <p *ngIf="countShownRows(ItemType.Suite) !== countRows(ItemType.Suite)">
        You are viewing
        <b>{{ countShownRows(ItemType.Suite) | i18nPlural: { '=1': 'one', 'other': '#' } }}</b>
        of {{ countRows(ItemType.Suite) }} suites.
      </p>
    </div>
    <ul class="wsl-list-body">
      <li class="wsl-list-item-outer"
        *ngFor="let item of getShownRows(ItemType.Suite); let i = index;"
        (click)="selectedRow = i;" [ngClass]="{'bg-sky-50': selectedRow === i}">
        <app-team-item-suite [item]="item.data">
        </app-team-item-suite>
      </li>
    </ul>
  </div>
  <app-home-list-pager [params]="pagerParams()" [stats]="filterStats()"
    (updateList)="updateList($event)">
  </app-home-list-pager>
  <app-home-feedback-link [page]="'app-team-tab-suites'">
  </app-home-feedback-link>
</section>
