<app-notification></app-notification>
<ng-container *ngIf="banner === BannerType.TeamNotFound">
  <app-home-notfound [args]="notFound()">
  </app-home-notfound>
</ng-container>
<div class="bg-gray-100">
  <div class="max-w-screen-xl py-8 mx-auto xl:max-w-screen-2xl">
    <div class="flex lg:divide-gray-200 lg:divide-x-2">
      <aside
        class="sticky flex-col hidden px-2 lg:px-4 xl:px-8 wsl2-page-aside lg:flex top-24">
        <nav class="flex-grow wsl2-sidebar-menu">
          <ul class="space-y-1">
            <ng-container *ngFor="let tab of tabs">
              <li *ngIf="tab.shown" (click)="switchTab(tab.type)"
                [ngClass]="{'wsl2-sidebar-tab-active': tab.type === currentTab }">
                <ng-icon [name]="tab.icon2" size="1.25rem">
                </ng-icon>
                <p>{{ tab.name }}</p>
                <span *ngIf="tab.counter">{{ tab.counter }}</span>
              </li>
            </ng-container>
          </ul>
        </nav>
        <div aria-current="page" wslDropdown *ngIf="team?.name">
          <div
            class="flex items-center p-2 rounded-md wsl-dropdown-toggle hover:bg-gray-200 hover:bg-opacity-50"
            id="wsl-teams-dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="flex items-center flex-grow space-x-2">
              <div
                class="flex items-center justify-center w-10 h-10 text-2xl text-center text-white bg-gray-200 rounded-full">
                {{team.name[0].toLocaleUpperCase()}}
              </div>
              <div>
                <p class="font-light">Team</p>
                <p class="font-medium">{{team.name}}</p>
              </div>
            </div>
            <div>
              <ng-icon name="hero-chevron-down"></ng-icon>
            </div>
          </div>
          <ul class="hidden w-full wsl-dropdown-menu" style="top: -10rem;"
            aria-labelledby="wsl-teams-dropdown">
            <li *ngFor="let teamItem of teams.active"
              (click)="switchPage(teamItem.slug)" class="wsl-dropdown-item"
              [ngClass]="{'bg-sky-100': team?.slug === teamItem.slug}">
              {{ teamItem.name }}
            </li>
            <li class="flex items-center wsl-dropdown-item"
              (click)="openCreateTeamModel()">
              <span class="flex-grow">New Team</span>
            </li>
          </ul>
        </div>
      </aside>
      <main
        class="px-2 mx-auto xl:mx-0 lg:w-4/5 lg:px-4 xl:px-8 wsl2-page-main">
        <div
          [hidden]="currentTab !== TabType.Suites || !hasData() || hasItems()">
          <app-team-first-suite>
          </app-team-first-suite>
        </div>
        <div class="h-full space-y-4"
          [hidden]="currentTab !== TabType.Suites || !hasData() || !hasItems()">
          <div class="flex">
            <div class="flex-grow">
              <h2 class="text-2xl font-semibold">Suites</h2>
            </div>
            <div class="flex items-center print:hidden">
              <button type="button" (click)="openCreateModal()"
                class="flex items-center space-x-1 wsl-btn-sm wsl-btn-dark group">
                <ng-icon class="inline h-4 opacity-75 group-hover:opacity-100"
                  name="hero-plus-solid"></ng-icon>
                <span>New Suite</span>
              </button>
            </div>
          </div>
          <div class="wsl2-white-box" style="height: calc(100% - 5rem);">
            <app-team-tab-suites>
            </app-team-tab-suites>
          </div>
          <app-home-feedback-link [page]="'app-team-tab-suites'">
          </app-home-feedback-link>
        </div>
        <div class="h-full space-y-4" [hidden]="currentTab !== TabType.Members">
          <div class="flex">
            <h2 class="flex-grow text-2xl font-semibold">Team Members</h2>
            <div class="print:hidden">
              <button type="button" (click)="openInviteModal()"
                class="flex items-center space-x-1 wsl-btn-sm wsl-btn-dark group">
                <ng-icon class="inline h-4 opacity-75 group-hover:opacity-100"
                  name="feather-user-plus"></ng-icon>
                <span>Invite Member</span>
              </button>
            </div>
          </div>
          <app-team-tab-members>
          </app-team-tab-members>
        </div>
        <div [hidden]="currentTab !== TabType.Settings">
          <app-team-tab-settings>
          </app-team-tab-settings>
        </div>
        <div [hidden]="currentTab !== TabType.FirstTeam">
          <app-team-first-team>
          </app-team-first-team>
        </div>
        <div [hidden]="currentTab !== TabType.Invitations"
          *ngIf="teams?.invitations">
          <h2 class="pb-1 text-2xl font-semibold">Your Invitations</h2>
          <div class="p-4">
            <ul class="space-y-4">
              <li class="flex items-center justify-between p-4 wsl2-white-box"
                *ngFor="let item of teams.invitations">
                <p class="text-sm">
                  Team <b>{{ item.name }}</b> wants you to join their team.
                  Would you like to?
                </p>
                <div class="space-x-2">
                  <button class="wsl-btn-sm wsl-btn-light"
                    (click)="accept(item)">Accept</button>
                  <button class="wsl-btn-sm wsl-btn-muted"
                    (click)="confirmDecline(item)">Decline</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div [hidden]="currentTab !== TabType.Requests" *ngIf="teams?.requests">
          <h2 class="pb-1 text-2xl font-semibold">Your Requests</h2>
          <div class="p-4">
            <ul class="space-y-4">
              <li class="flex items-center justify-between p-4 wsl2-white-box"
                *ngFor="let item of teams.requests">
                <p class="text-sm">
                  You have asked to join team <b>{{ item.name }}</b>.
                  Now we wait for them to accept your request.
                </p>
                <div class="space-x-2">
                  <button class="wsl-btn-sm wsl-btn-muted"
                    (click)="confirmRescind(item)">Cancel Request</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
