/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use '../../../styles/weaselcss.scss';

.wsl-custom-settings-banner {
  align-self: center;
  display: none;
  @media (min-width: #{weaselcss.$weasel-breakpoint-lg}) {
    grid-row: 1/4;
    grid-column: 2/3;
    display: initial;
  }
}
