<div class="flex flex-col h-full text-white">
  <div class="flex space-x-2">
    <ng-icon class="h-6 opacity-50" name="hero-speakerphone" size="2rem">
    </ng-icon>
    <h3 class="text-2xl font-semibold">New Features</h3>
  </div>
  <ul class="flex-grow p-4 space-y-4">
    <li class="flex space-x-2" *ngFor="let feature of features">
      <div>
        <ng-icon class="h-6 opacity-50" name="hero-badge-check" size="1.5rem">
        </ng-icon>
      </div>
      <p class="leading-6">{{ feature }}</p>
    </li>
  </ul>
</div>
