<div class="space-y-4">
  <img class="mx-auto max-h-48"
    src="./assets/undraw/undraw_Mailbox_re_dvds.svg" />
  <div class="flex items-center space-x-1 text-center">
    <ng-container *ngIf="isBackButtonShown">
      <span class="text-sm">
        {{ isRetry ? input.textAfterFailure : input.textAfterSuccess }}
      </span>
    </ng-container>
    <ng-container *ngIf="!isBackButtonShown">
      <ng-icon class="text-green-500" name="hero-check-circle" size="1.5rem">
      </ng-icon>
      <span class="text-sm">
        {{ isRetry ? input.textFailure : input.textSuccess }}
      </span>
    </ng-container>
  </div>
  <div class="flex justify-between" *ngIf="isBackButtonShown">
    <button class="flex items-center space-x-1 wsl-btn-lg wsl-btn-light"
      type="button" role="button" (click)="back()" tabindex="4">
      <ng-icon class="h-4" name="hero-chevron-double-left" size="1.25rem">
      </ng-icon>
      <span>Back</span>
    </button>
    <button class="flex items-center space-x-1 wsl-btn-lg wsl-btn-light"
      type="button" role="button" (click)="resend()" tabindex="5">
      <ng-icon class="h-4" name="hero-mail" size="1.25rem"></ng-icon>
      <span>Resend</span>
    </button>
  </div>
</div>
