<header class="h-16 bg-gray-50">
  <div class="px-4 mx-auto container flex justify-between select-none">
    <div class="h-16 flex items-center focus:outline-none">
      <img class="h-12" src="./assets/logo/touca-logo-transparent.svg"
        alt="Touca Logo" />
      <h1 class="text-2xl text-light-blue-600 font-light tracking-tight">Touca</h1>
    </div>
  </div>
</header>
<div
  class="wsl-min-h-screen-1 sm:p-4 grid grid-cols-1 sm:place-content-center bg-gray-50">
  <div class="w-full p-4 mx-auto max-w-lg col-span-1 space-y-2">
    <h2 class="text-2xl text-center font-semibold">Welcome Aboard!</h2>
    <p class="text-sm text-center">Before we get started, we'd like to know a
      little more about you.</p>
    <hr class="border-2 border-light-blue-100" />
    <form class="wsl-form px-2 py-4 flex-grow" [formGroup]="onboardForm"
      (ngSubmit)="onSubmit(onboardForm.value)" novalidate>
      <app-alert [alert]="alert" *ngIf="alert"></app-alert>
      <div>
        <label class="wsl-input-label" for="wsl-fname">Full Name</label>
        <input class="wsl-input-field" type="text" id="wsl-fname" name="fname"
          formControlName="fname" aria-describedby="wsl-fname-help" required
          autocomplete="name" data-lpignore="true" tabindex="1">
        <small id="wsl-fname-help" [ngClass]="hints.get('fname').type"
          [innerHTML]="hints.get('fname').text"></small>
      </div>
      <div>
        <label class="wsl-input-label" for="wsl-uname">Username</label>
        <input class="wsl-input-field" type="text" id="wsl-uname" name="uname"
          formControlName="uname" aria-describedby="wsl-uname-help" required
          autocomplete="username" tabindex="2">
        <small id="wsl-uname-help" [ngClass]="hints.get('uname').type"
          [innerHTML]="hints.get('uname').text"></small>
      </div>
      <div>
        <label class="wsl-input-label" for="wsl-upass">Password</label>
        <input class="wsl-input-field" type="password" id="wsl-upass"
          name="upass" formControlName="upass" aria-describedby="wsl-upass-help"
          required autocomplete="new-password" tabindex="3">
        <small id="wsl-upass-help" [ngClass]="hints.get('upass').type"
          [innerHTML]="hints.get('upass').text"></small>
      </div>
      <div class="wsl-form-footer">
        <div class="wsl-form-submit">
          <button class="wsl-btn-lg wsl-btn-dark" type="submit" tabindex="4">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
