<app-notification></app-notification>
<app-header-inside></app-header-inside>
<div class="flex flex-col border-t wsl-min-h-screen-1">
  <div class="bg-gray-100 border-b">
    <div
      class="container flex items-center justify-between h-16 px-4 py-2 mx-auto">
      <div class="text-lg font-medium">Platform Settings</div>
      <div class="print:hidden">
        <button class="wsl-btn-sm wsl-btn-dark group" type="button"
          routerLink="/~">Back to Dashboard</button>
      </div>
    </div>
  </div>
  <div class="py-8 bg-gray-50">
    <div *ngIf="stats"
      class="container grid gap-4 p-4 mx-auto text-sm sm:grid-cols-2 lg:grid-cols-3">
      <div class="p-4 bg-white border rounded-md shadow-sm lg:col-span-1">
        <h4 class="font-medium">Database</h4>
        <ul class="px-4 py-2 leading-6">
          <li class="flex justify-between">
            <span>Versions:</span>
            <span>{{ stats.countBatches }}</span>
          </li>
          <li class="flex justify-between">
            <span>Test Cases:</span>
            <span>{{ stats.countElements }}</span>
          </li>
          <li class="flex justify-between">
            <span>Submissions:</span>
            <span>{{ stats.countMessages }}</span>
          </li>
        </ul>
      </div>
      <div class="p-4 bg-white border rounded-md shadow-sm lg:col-span-1">
        <h4 class="font-medium">Disk Space</h4>
        <ul class="px-4 py-2 leading-6">
          <li class="flex justify-between">
            <span>Free:</span>
            <span>{{ stats.spaceFree | number: '1.0-0' }} GB</span>
          </li>
          <li class="flex justify-between">
            <span>Size:</span>
            <span>{{ stats.spaceSize | number: '1.0-0' }} GB</span>
          </li>
          <li class="flex justify-between">
            <span>Used:</span>
            <span>{{ stats.spaceUsed | percent:'1.0-0' }}</span>
          </li>
        </ul>
      </div>
      <div class="p-4 bg-white border rounded-md shadow-sm lg:col-span-1">
        <h4 class="font-medium">Comparator</h4>
        <ul class="px-4 py-2 leading-6">
          <li class="flex justify-between">
            <span>Comparisons:</span>
            <span>{{ stats.countComparisons }}</span>
          </li>
          <li class="flex justify-between">
            <span>Average Process Time:</span>
            <span>{{ stats.cmpAvgProcessingTime| number: '1.0-0' }}
              ms/job</span>
          </li>
          <li class="flex justify-between">
            <span>Average Collection Time:</span>
            <span>{{ stats.cmpAvgCollectionTime| number: '1.0-0' }}
              ms/job</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container gap-4 py-4 mx-auto md:grid md:grid-cols-3">
    <div class="md:col-span-1 md:order-2">
      <h3 class="p-4 text-xl font-medium">Recent Events</h3>
      <div class="p-4 space-y-4">
        <div
          class="p-4 space-y-2 text-sm border border-gray-100 rounded-md bg-gray-50"
          *ngFor="let event of events">
          <div class="flex-grow">
            <span class="font-medium text-light-blue-600"
              [title]="event.username">{{ event.fullname}}</span>
            <span> {{ event.copyText }}</span>
          </div>
          <div class="flex items-center justify-between">
            <div>
              {{ describeEventDate(event.eventDate) }}
            </div>
            <div class="flex space-x-1">
              <div
                class="flex justify-center px-2 py-1 text-xs font-medium text-gray-500 bg-gray-100 border border-gray-300 rounded cursor-pointer hover:bg-gray-200"
                title="Copy email to clipboard" ngxClipboard
                [cbContent]="event.email"
                (cbOnSuccess)="onCopy($event, 'email address')">
                <fa-icon [icon]="faEnvelope">
                </fa-icon>
              </div>
              <div
                class="flex justify-center px-2 py-1 text-xs font-medium text-gray-500 bg-gray-100 border border-gray-300 rounded cursor-pointer hover:bg-gray-200"
                *ngIf="event.copyLink" title="Copy link to clipboard"
                ngxClipboard [cbContent]="event.copyLink"
                (cbOnSuccess)="onCopy($event, 'link')">
                <fa-icon [icon]="faClipboard"></fa-icon>
              </div>
            </div>
          </div>
        </div>
        <div
          class="p-4 text-sm leading-6 border border-gray-100 rounded-md bg-gray-50"
          *ngIf="events.length === 0">
          This section lists noteworthy user events that may require your
          assistance. These events include account creation, password reset,
          and consecutive failed login attempts that are not automatically
          resolved by your users.
        </div>
      </div>
    </div>
    <div class="md:col-span-2">
      <h3 class="p-4 text-xl font-medium">Users</h3>
      <ul *ngIf="stats">
        <li
          class="flex items-center h-8 px-4 transition duration-100 rounded-md hover:bg-gray-50"
          *ngFor="let account of stats.users">
          <div class="flex justify-between flex-grow space-x-4">
            <div class="w-40 font-medium truncate whitespace-nowrap"
              [ngClass]="{ 'text-gray-300 line-through': account.suspended }">
              {{ account.fullname || 'Unknown' }}
              <span class="text-sm text-gray-500"
                *ngIf="user.username === account.username">(You)</span>
            </div>
            <div class="w-24 whitespace-nowrap">
              <span
                class="px-2 py-1 text-sm text-gray-700 bg-gray-100 rounded-md">
                {{ account.username }}
              </span>
            </div>
            <div class="w-24">
              <span
                class="px-2 py-1 text-sm text-gray-700 bg-gray-100 rounded-md">
                {{ account.role }}
              </span>
            </div>
          </div>
          <div wslDropdown
            class="flex items-center p-1 text-gray-300 cursor-pointer select-none hover:text-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 wsl-dropdown-toggle" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
            <div class="hidden w-48 text-sm wsl-dropdown-menu"
              aria-labelledby="wsl-user-dropdown">
              <div class="wsl-dropdown-item" ngxClipboard
                [cbContent]="account.email"
                (cbOnSuccess)="onCopy($event, 'email address')">
                <a class="text-light-blue-700">Copy Email</a>
              </div>
              <div class="wsl-dropdown-item"
                *ngIf="!account.suspended && account.username !== user.username"
                (click)="suspendUser(account)">
                <a class="text-light-blue-700">Suspend</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer-inside></app-footer-inside>
