<div class="flex flex-col h-full text-white">
  <h3 class="text-2xl font-semibold">You Should Know</h3>
  <ul class="flex-grow p-4 space-y-4">
    <li class="flex space-x-2" *ngFor="let note of notes">
      <div>
        <svg class="h-6 opacity-50" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <p class="leading-6">{{ note }}</p>
    </li>
  </ul>
</div>
