<app-header-inside></app-header-inside>
<div class="wsl-min-h-screen-1 border-t">
  <div>
    <label class="wsl-input-label sr-only" for="wsl-news">Our Newsletter</label>
    <div class="flex items-center space-x-2">
      <input
        class="rounded-sm shadow-sm border-gray-300 focus:border-lblue-300 focus:ring focus:ring-lblue-200 focus:ring-opacity-50"
        type="checkbox">
      <p class="text-sm text-gray-500">Subscribe to our monthly newsletter?
      </p>
    </div>
    <small class="wsl-text-muted sr-only" id="wsl-news-help">You can always
      manage your subscription from the <i>Account Settings</i> page.</small>
  </div>
</div>
<app-footer-inside></app-footer-inside>
