<app-notification></app-notification>
<app-header-inside></app-header-inside>
<div class="flex flex-col border-t wsl-min-h-screen-1">
  <div class="border-b bg-gray-50">
    <div
      class="container flex items-center justify-between h-16 px-4 py-2 mx-auto">
      <div class="text-lg font-medium">Account Settings</div>
      <div class="print:hidden">
        <button class="wsl-btn-sm wsl-btn-dark group" type="button"
          routerLink="/~">Back to Dashboard</button>
      </div>
    </div>
  </div>
  <div class="container mx-auto lg:grid lg:grid-cols-4 lg:gap-4">
    <div class="lg:col-span-1">
    </div>
    <div class="p-4 space-y-4 lg:col-span-2">
      <form class="p-4 space-y-4 bg-gray-50" [formGroup]="accountSettingsForm"
        (ngSubmit)="onSubmit(accountSettingsForm.value)" novalidate>
        <h2 class="pb-1 text-xl font-medium border-b border-gray-200">
          Your Information
        </h2>
        <app-alert class="block" *ngIf="alert[EModalType.ChangePersonal]"
          [alert]="alert[EModalType.ChangePersonal]">
        </app-alert>
        <div>
          <label class="wsl-input-label" for="wsl-fname">Name</label>
          <input class="wsl-input-field" type="text" id="wsl-fname" name="fname"
            formControlName="fname" aria-describedby="wsl-fname-help" required
            autocomplete="name" data-lpignore="true" tabindex="11">
          <small id="wsl-fname-help" [ngClass]="hints.get('fname').type"
            [innerHTML]="hints.get('fname').text"></small>
        </div>
        <div>
          <label class="wsl-input-label" for="wsl-uname">Username</label>
          <input class="wsl-input-field" type="text" id="wsl-uname" name="uname"
            formControlName="uname" aria-describedby="wsl-uname-help" required
            autocomplete="off" data-lpignore="true" tabindex="12">
          <small id="wsl-uname-help" [ngClass]="hints.get('uname').type"
            [innerHTML]="hints.get('uname').text"></small>
        </div>
        <div>
          <label class="wsl-input-label" for="wsl-email">Email Address</label>
          <input
            class="wsl-input-field disabled:text-gray-500 disabled:bg-transparent"
            type="text" id="wsl-email" name="email" formControlName="email"
            aria-describedby="wsl-email-help">
          <small id="wsl-email-help" [ngClass]="hints.get('email').type"
            [innerHTML]="hints.get('email').text"></small>
        </div>
        <button class="font-normal wsl-btn-sm wsl-btn-dark" type="submit"
          tabindex="13">
          Update
        </button>
      </form>
      <div class="p-4 space-y-2 bg-gray-50" *ngIf="apiKeys">
        <h2 class="pb-1 text-xl font-medium border-b border-gray-200">
          API Keys
        </h2>
        <div *ngFor="let key of apiKeys; let i = index">
          <label class="block mb-1 text-sm font-medium text-gray-700">Key
            {{i + 1}}</label>
          <div
            class="flex items-center p-2 bg-white border border-gray-300 rounded-md shadow-sm">
            <div class="flex-grow">
              <span class="font-mono text-sm text-gray-700 cursor-pointer"
                ngxClipboard [cbContent]="key.plain"
                (cbOnSuccess)="onCopy($event)">
                {{key.value}}</span>
            </div>
            <div class="flex items-center space-x-2">
              <button
                class="flex text-xs opacity-50 hover:opacity-100 focus:outline-none"
                (click)="key.toggle()">
                <ng-icon class="wsl-text-muted"
                  [name]="key.shown ? 'hero-eye-off' : 'hero-eye'"
                  size="1.1rem"></ng-icon>
              </button>
              <button
                class="flex text-xs opacity-50 hover:opacity-100 focus:outline-none"
                (click)="regenerateApiKey(i)">
                <ng-icon class="wsl-text-muted" name="hero-refresh"
                  size="1.1rem"></ng-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 space-y-2 bg-gray-50">
        <h2 class="pb-1 text-xl font-medium border-b border-gray-200">
          Preferences
        </h2>
        <div>
          <app-settings-checkbox [data]="preferences.newsletter_product"
            (toggle)="toggleFeatureFlag($event)"></app-settings-checkbox>
        </div>
      </div>
      <div class="p-4 space-y-2 bg-gray-50">
        <h2
          class="pb-1 text-xl font-medium border-b border-gray-200 wsl-text-danger">
          Danger Zone</h2>
        <p class="text-sm text-gray-600">
          Remove your user account and all its associated data.
        </p>
        <button class="wsl-btn-sm wsl-btn-danger"
          (click)="openConfirmModal(EModalType.DeleteAccount)" type="button"
          tabindex="15">
          Delete Account
        </button>
      </div>
    </div>
    <div class="lg:col-span-1">
    </div>
  </div>
</div>
<app-footer></app-footer>