<div class="h-full pb-4 flex flex-col">
  <ng-container *ngIf="isFormShown">
    <h2 class="text-2xl font-semibold">Reset Your Password</h2>
    <div class="flex-grow flex items-center">
      <form class="py-4 flex-grow space-y-4" [formGroup]="formReset"
        (ngSubmit)="onSubmit(formReset.value)" novalidate>
        <app-alert [alert]="alert || input" *ngIf="alert || input"></app-alert>
        <div>
          <label class="wsl-input-label" for="wsl-mail">Email Address</label>
          <input class="wsl-input-field" type="email" id="wsl-email"
            name="email" formControlName="email"
            aria-describedby="wsl-email-help" required autocomplete="email"
            data-lpignore="true" tabindex="1">
          <div class="wsl-text-danger space-x-1" id="wsl-email-help"
            [hidden]="isFormValid()">
            <svg class="inline h-4" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <small>Please use a valid email address.</small>
          </div>
        </div>
        <div
          class="space-y-4 md:space-y-0 md:flex md:space-x-4 md:items-center md:justify-between">
          <div>
            <button class="wsl-btn-lg wsl-btn-dark" type="submit" tabindex="2">
              Reset
            </button>
          </div>
          <div class="space-y-4 md:space-y-0 md:flex md:space-x-4">
            <div>
              <button class="wsl-btn-lg wsl-btn-light" type="button"
                routerLink="/account/signin" tabindex="3">
                Changed your mind?
              </button>
            </div>
            <div>
              <button class="wsl-btn-lg wsl-btn-light" type="button"
                routerLink="/account/signup" tabindex="4">
                New to Weasel?
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="!isFormShown">
    <div class="flex-grow grid place-content-center">
      <wsl-account-mailbox [input]="mailboxInput"
        (action)="mailboxAction($event)">
      </wsl-account-mailbox>
    </div>
  </ng-container>
</div>
