<div class="p-4 space-y-8">
  <h2 class="text-3xl font-bold text-center text-black dark:text-gray-300">
    Reset Your Password
  </h2>
  <div>
    <app-alert [alert]="alert" *ngIf="alert"></app-alert>
  </div>
  <div class="space-y-4">
    <form class="flex-grow py-4 space-y-4" [formGroup]="formReset"
      (ngSubmit)="onSubmit(formReset.value)" novalidate>
      <div>
        <label class="wsl-input-label" for="wsl-uname">Username</label>
        <input class="wsl-input-field" type="text" id="wsl-uname" name="uname"
          formControlName="uname" aria-describedby="wsl-uname-help"
          autocomplete="username">
      </div>
      <div>
        <label class="wsl-input-label" for="wsl-upass1">New Password</label>
        <input class="wsl-input-field" type="password" id="wsl-upass1"
          name="upass1" formControlName="upass1"
          aria-describedby="wsl-upass1-help" required
          autocomplete="new-password">
        <small class="wsl-text-danger" id="wsl-upass1-help"
          [hidden]="shouldHideAriaDescriptionForUpass1()">
          Your password must be at least eight characters.
        </small>
      </div>
      <div>
        <label class="wsl-input-label" for="wsl-upass2">Confirm New
          Password</label>
        <input class="wsl-input-field" type="password" id="wsl-upass2"
          name="upass2" formControlName="upass2"
          aria-describedby="wsl-upass2-help" required
          autocomplete="new-password">
        <small class="wsl-text-danger" id="wsl-upass2-help"
          [hidden]="shouldHideAriaDescriptionForUpass2()">
          Type the same password as above.
        </small>
      </div>
      <button
        class="flex items-center justify-center w-full p-2 space-x-2 text-sm font-medium text-white transition duration-300 border rounded-full cursor-pointer focus:outline-none border-sky-600 bg-sky-700 hover:bg-sky-800 hover:border-sky-700 focus:border-sky-700 dark:text-gray-300 dark:bg-sky-900 dark:border-sky-800 dark:hover:bg-sky-800 dark:hover:border-sky-700 dark:focus:border-sky-600"
        type="submit">
        Send instructions
      </button>
      <div class="flex justify-between">
        <button
          class="w-full pt-4 text-sm text-center text-gray-600 cursor-pointer focus:outline-none hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:font-medium group"
          routerLink="/account/signin">
          Remember it? <a
            class="text-sky-600 dark:group-hover:text-sky-500">Sign in</a>
        </button>
      </div>
    </form>
  </div>
</div>
