<div class="space-y-8 p-4">
  <h2 class="text-center text-3xl font-bold text-black dark:text-gray-300">
    Reset Your Password
  </h2>
  <div>
    <app-alert [alert]="alert || input" *ngIf="alert || input" />
  </div>
  <div class="space-y-4" *ngIf="isFormShown">
    <form
      class="space-y-4"
      [formGroup]="formReset"
      (ngSubmit)="onSubmit(formReset.value)"
      novalidate>
      <div>
        <label class="wsl-input-label" for="wsl-email">Email Address</label>
        <input
          class="wsl-input-field"
          type="email"
          id="wsl-email"
          name="email"
          formControlName="email"
          aria-describedby="wsl-email-help"
          required
          autocomplete="email"
          data-lpignore="true" />
        <div
          class="wsl-text-danger flex items-center space-x-1 py-1"
          id="wsl-email-help"
          *ngIf="!isFormValid()">
          <ng-icon class="h-4" name="heroExclamationCircle" />
          <small>Please use a valid email address.</small>
        </div>
      </div>
      <button
        class="flex w-full cursor-pointer items-center justify-center space-x-2 rounded-full border border-sky-600 bg-sky-700 p-2 text-sm font-medium text-white transition duration-300 hover:border-sky-700 hover:bg-sky-800 focus:border-sky-700 focus:outline-none dark:border-sky-800 dark:bg-sky-900 dark:text-gray-300 dark:hover:border-sky-700 dark:hover:bg-sky-800 dark:focus:border-sky-600"
        type="submit">
        Send instructions
      </button>
      <div class="flex justify-between">
        <button
          class="group w-full cursor-pointer pt-4 text-center text-sm text-gray-600 hover:text-gray-700 focus:outline-none dark:font-medium dark:text-gray-400 dark:hover:text-gray-300"
          routerLink="/account/signin">
          Remember it?
          <a class="text-sky-600 dark:group-hover:text-sky-500">Sign in</a>
        </button>
      </div>
    </form>
  </div>
  <div>
    <app-account-mailbox
      *ngIf="!isFormShown"
      [input]="mailboxInput"
      (action)="mailboxAction($event)" />
  </div>
</div>
