<div class="p-4 space-y-8">
  <h2 class="text-3xl font-bold text-center text-black dark:text-gray-300">
    Sign into Touca
  </h2>
  <div>
    <app-alert [alert]="alert" *ngIf="alert"></app-alert>
  </div>
  <div class="space-y-4">
    <button
      class="flex items-center justify-center w-full p-2 space-x-2 font-medium text-black transition duration-300 bg-white border border-gray-300 rounded-full cursor-pointer focus:outline-none hover:bg-gray-50 hover:border-gray-300 focus:border-gray-400 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:border-gray-500"
      *ngIf="showForm === false" (click)="signinGoogle()">
      <img width="18px" height="18px" src="assets/exticons/google.svg" />
      <span class="text-sm">Sign in with Google</span>
    </button>
    <div class="flex items-center w-full" *ngIf="showForm === false">
      <span
        class="flex-grow border-t border-gray-200 dark:border-gray-700"></span>
      <span
        class="px-2 text-sm font-semibold text-gray-400 select-none">or</span>
      <span
        class="flex-grow border-t border-gray-200 dark:border-gray-700"></span>
    </div>
    <form class="space-y-4" [formGroup]="formSignin"
      (ngSubmit)="onSubmit(formSignin.value)" novalidate>
      <div>
        <label class="wsl-input-label" for="wsl-uname">Username</label>
        <input class="wsl-input-field" type="text" id="wsl-uname" name="uname"
          formControlName="uname" aria-describedby="wsl-uname-help" required
          autocomplete="username">
      </div>
      <div>
        <label class="wsl-input-label" for="wsl-upass">Password</label>
        <input class="wsl-input-field" type="password" id="wsl-upass"
          name="upass" formControlName="upass" aria-describedby="wsl-upass-help"
          required autocomplete="current-password">
      </div>
      <button
        class="flex items-center justify-center w-full p-2 space-x-2 text-sm font-medium text-white transition duration-300 border rounded-full cursor-pointer focus:outline-none border-sky-600 bg-sky-700 hover:bg-sky-800 hover:border-sky-700 focus:border-sky-700 dark:text-gray-300 dark:bg-sky-900 dark:border-sky-800 dark:hover:bg-sky-800 dark:hover:border-sky-700 dark:focus:border-sky-600"
        type="submit">
        Sign in
      </button>
    </form>
  </div>
  <div class="space-y-2">
    <button
      class="w-full text-sm text-center text-gray-600 cursor-pointer focus:outline-none hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:font-medium group"
      routerLink="/account/signup">
      Need an account? <a
        class="text-sky-600 dark:group-hover:text-sky-500">Sign
        up!</a>
    </button>
    <button
      class="w-full text-sm text-center text-gray-600 cursor-pointer focus:outline-none hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 dark:font-medium group"
      type="button" routerLink="/account/reset">
      <span class="text-sky-600 dark:group-hover:text-sky-500">Forgot your
        password?</span>
    </button>
  </div>
</div>
