<div class="flex flex-col h-full pb-4">
  <ng-container *ngIf="isFormShown">
    <h2 class="text-2xl font-semibold">Get Started for Free</h2>
    <div class="flex items-center flex-grow">
      <form class="flex-grow py-4 space-y-4" [formGroup]="formSignup"
        (ngSubmit)="onSubmit(formSignup.value)" novalidate>
        <app-alert [alert]="alert" *ngIf="alert"></app-alert>
        <div>
          <label class="wsl-input-label" for="wsl-email">Email Address</label>
          <input class="wsl-input-field" type="email" id="wsl-email"
            name="email" formControlName="email"
            aria-describedby="wsl-email-help" required autocomplete="email"
            data-lpignore="true" tabindex="1">
          <div class="space-x-1 wsl-text-danger" id="wsl-email-help"
            [hidden]="isFormValid()">
            <svg class="inline h-4" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <small>Please use a valid email address.</small>
          </div>
        </div>
        <small class="block wsl-text-muted">By creating an account, you agree to
          our <a class="text-light-blue-600"
            href="https://docs.touca.io/legal/terms" target="_blank">Terms of
            Service</a> and <a class="text-light-blue-600"
            href="https://docs.touca.io/legal/privacy" target="_blank">Privacy
            Policy</a>.
        </small>
        <div
          class="space-y-4 md:space-y-0 md:flex md:space-x-4 md:items-center md:justify-between">
          <div>
            <button class="wsl-btn-lg wsl-btn-dark" type="submit" tabindex="2">
              Sign up
            </button>
          </div>
          <div class="space-y-4 md:space-y-0 md:flex md:space-x-4">
            <div>
              <button class="wsl-btn-lg wsl-btn-light" type="button"
                routerLink="/account/signin" tabindex="3">
                Already Registered?
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
  <div class="grid flex-grow place-content-center" *ngIf="!isFormShown">
    <app-account-mailbox [input]="mailboxInput"
      (action)="mailboxAction($event)">
    </app-account-mailbox>
  </div>
</div>
