<app-header-outside></app-header-outside>
<div class="wsl-min-h-screen-1 sm:p-4 grid sm:place-content-center bg-gray-50">
  <div class="w-full mx-auto max-w-5xl bg-white sm:rounded-lg shadow-lg">
    <div class="grid md:grid-cols-2">
      <div
        class="pt-8 px-6 pb-4 grid-cols-1 bg-white sm:rounded-t-lg md:rounded-t-none md:rounded-l-lg">
        <wsl-account-signup *ngIf="currentPage === PageType.Signup">
        </wsl-account-signup>
        <wsl-account-signin *ngIf="currentPage === PageType.Signin">
        </wsl-account-signin>
        <wsl-account-reset *ngIf="currentPage === PageType.Reset">
        </wsl-account-reset>
      </div>
      <div
        class="pt-8 px-6 pb-4 grid-cols-1 bg-lblue-700 sm:rounded-b-lg md:rounded-b-none md:rounded-r-lg border-gray-200 border-t md:border-t-0 md:border-l">
        <wsl-account-privacy *ngIf="currentPage === PageType.Signup">
        </wsl-account-privacy>
        <wsl-account-feature *ngIf="currentPage !== PageType.Signup">
        </wsl-account-feature>
      </div>
    </div>
  </div>
</div>
