/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use "../../../styles/weaselcss.scss";

.wsl-comment-frame {
  border: 1px solid #eee;
  margin: 1rem;
  min-height: 100px;
  padding: 0.5rem;
}

.wsl-comment-reply {
  margin: auto 3rem;
  border-top: 1px solid #eee;
}

.wsl-comment-empty {
  align-items: center;
  background-color: weaselcss.weasel-color("background-lightgray");
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
}

.wsl-comment-post {
  margin: 0.5rem 0 1rem;
  .wsl-form-footer {
    padding: 0 1rem;
  }
  .form-group {
    padding: 0 1rem;
  }
}
