<h2><label for="wsl-body">{{ fields.editorTitle }}</label></h2>
<p class="text-sm">{{ fields.editorSubtitle }}</p>
<div *ngIf="alert" role="alert" class="wsl-alert" [ngClass]="alert[0]">
  <small [innerHtml]="alert[1]" class="wsl-alert-text"></small>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate class="wsl-form max-w-lg m-4 p-4 border" [ngClass]="{'bg-gray-50': !fields.previewShow}">
  <div [hidden]="!fields.previewShow">
    <blockquote class="m-2 px-4 border-l-2 border-gray-200">
      <markdown class="prose prose-sm" [data]="form.controls.body.value">
      </markdown>
    </blockquote>
  </div>
  <div [hidden]="fields.previewShow">
    <textarea class="wsl-input-field" id="wsl-body" rows="5" tabindex="1" aria-describedby="wsl-body-help" formControlName="body" name="body">
    </textarea>
    <small class="wsl-text-danger" id="wsl-body-help" [hidden]="form.controls.body.pristine || form.controls.body.valid">
      Please provide more information in your comment.
    </small>
    <small class="wsl-text-muted" [hidden]="!form.controls.body.pristine && !form.controls.body.valid">
      This field supports markdown format.
    </small>
  </div>
  <div class="wsl-form-footer">
    <div class="wsl-form-submit">
      <button class="wsl-btn-sm wsl-btn-dark" type="submit" tabindex="2">
        {{ fields.buttonSubmitText }}
      </button>
    </div>
    <div class="wsl-form-links">
      <button class="wsl-btn-sm wsl-btn-muted" type="button" (click)="togglePreview()" tabindex="3" [hidden]="!fields.buttonPreviewShow || !form.controls.body.valid || form.controls.body.pristine">
        {{ fields.buttonPreviewText }}
      </button>
      <button class="wsl-btn-sm wsl-btn-muted" type="button" (click)="cancelForm()" tabindex="4" [hidden]="!fields.buttonCancelShow">
        Cancel
      </button>
    </div>
  </div>
</form>
<h2>Comments</h2>
<article class="wsl-comment-empty wsl-comment-frame" *ngIf="comments.length === 0">
  This version has no comments yet.
</article>
<div class="wsl-comment-frame" *ngFor="let item of comments">
  <app-home-comment [meta]="item" (commentAction)="commentAction($event)">
  </app-home-comment>
  <div class="wsl-comment-reply" *ngFor="let reply of item.replies">
    <app-home-comment [meta]="reply" (commentAction)="commentAction($event)">
    </app-home-comment>
  </div>
</div>
