<app-notification></app-notification>
<ng-container *ngIf="notFound()">
  <app-home-notfound [args]="notFound()">
  </app-home-notfound>
</ng-container>
<div *ngIf="!notFound()" [hidden]="!batch">
  <div class="bg-gray-100 border-b">
    <div class="wsl-page-head-content">
      <nav aria-label="breadcrumb">
        <ol>
          <li><a routerLink="../..">{{ batch?.teamName }}</a></li>
          <li><a routerLink="..">{{ batch?.suiteName }}</a></li>
          <li class="active" aria-current="page">
            <span>{{ batch?.batchSlug }}</span>
          </li>
        </ol>
      </nav>
      <div class="print:hidden">
        <button class="wsl-btn-sm wsl-btn-dark" *ngFor="let button of buttons"
          type="button" (click)="button.click()" [title]="button.title">
          {{ button.text }}
        </button>
        <div class="inline-block" *ngIf="subButtons.length !== 0" wslDropdown>
          <button class="wsl-dropdown-toggle wsl-btn-sm wsl-btn-muted"
            id="wsl-batch-settings" aria-haspopup="true" aria-expanded="false">
            <fa-icon icon="cog" class="wsl-text-muted"></fa-icon>
          </button>
          <ul class="hidden w-48 wsl-dropdown-menu"
            aria-labelledby="wsl-batch-settings">
            <li *ngFor="let button of subButtons"
              class="space-x-4 wsl-dropdown-item" (click)="button.click()"
              [title]="button.title">
              <fa-icon class="wsl-text-muted" [icon]="button.icons">
              </fa-icon>
              <span class="text-sm">{{ button.text }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wsl-page-nav">
      <nav>
        <ul>
          <ng-container *ngFor="let tab of tabs">
            <li *ngIf="tab.shown" (click)="switchTab(tab.type)"
              [ngClass]="{'wsl-page-tab-active': tab.type === currentTab }">
              <span class="wsl-nav-icon">
                <fa-icon [icon]="tab.icon"></fa-icon>
              </span>
              <span class="wsl-nav-text">{{ tab.name }}</span>
              <span class="wsl-nav-counter"
                *ngIf="tab.counter">{{ tab.counter }}</span>
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>
  </div>
  <div class="py-8 bg-gray-50"
    [hidden]="currentTab !== TabType.Elements && (!hasData() || !hasItems())">
    <div class="container mx-auto" *ngIf="overview">
      <app-home-page-overview [inputs]="overview">
      </app-home-page-overview>
    </div>
  </div>
  <div [hidden]="currentTab !== TabType.Elements">
    <ng-container *ngIf="suite && params">
      <app-home-version-navigator [suite]="suite" [params]="params">
      </app-home-version-navigator>
    </ng-container>
    <div class="grid wsl-min-h-screen-4 place-content-center"
      *ngIf="!hasData() || !hasItems()">
      <div class="wsl-spinner">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </div>
    </div>
    <div [hidden]="!hasData() || !hasItems()">
      <app-batch-list-elements>
      </app-batch-list-elements>
    </div>
  </div>
  <div [hidden]="currentTab !== TabType.Comments">
    <app-batch-tab-comments>
    </app-batch-tab-comments>
  </div>
</div>
