<app-notification></app-notification>
<ng-container *ngIf="notFound()">
  <app-missing [args]="notFound()">
  </app-missing>
</ng-container>
<div class="max-w-screen-xl py-8 mx-auto" *ngIf="!notFound()" [hidden]="!batch">
  <main class="container px-4 mx-auto space-y-4 wsl-min-h-screen-2 xl:px-8">
    <div class="wsl-page-head wsl-box">
      <nav aria-label="breadcrumb">
        <ol>
          <li><a routerLink="../..">{{ batch?.teamName }}</a></li>
          <li><a routerLink="..">{{ batch?.suiteName }}</a></li>
          <li class="active" aria-current="page">
            <span>{{ batch?.batchSlug.split('@')[0] }}</span>
          </li>
        </ol>
      </nav>
      <div class="flex space-x-2 print:hidden whitespace-nowrap">
        <button class="wsl-btn-sm wsl-btn-primary"
          *ngFor="let button of buttons" type="button" (click)="button.click()"
          [title]="button.title">
          {{ button.text }}
        </button>
        <div *ngIf="subButtons.length !== 0" wslDropdown>
          <button
            class="flex items-center h-full wsl-dropdown-toggle wsl-btn-sm wsl-btn-muted wsl-text-muted"
            id="wsl-batch-settings" aria-haspopup="true" aria-expanded="false">
            <ng-icon name="feather-settings" size="1.05rem"></ng-icon>
          </button>
          <ul class="hidden w-48 wsl-dropdown-menu"
            aria-labelledby="wsl-batch-settings">
            <li *ngFor="let button of subButtons"
              class="space-x-4 wsl-dropdown-item" (click)="button.click()"
              [title]="button.title">
              <fa-icon class="wsl-text-muted" [icon]="button.icons">
              </fa-icon>
              <span class="text-sm">{{ button.text }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav>
      <ul class="flex space-x-4">
        <ng-container *ngFor="let tab of tabs">
          <li class="wsl-page-nav-item" *ngIf="tab.shown"
            (click)="switchTab(tab.type)"
            [ngClass]="{'wsl-tab-active': tab.type === currentTab }">
            <ng-icon [name]="tab.icon" size="1.25rem"></ng-icon>
            <p>{{ tab.name }}</p>
            <span *ngIf="tab.counter">{{ tab.counter }}</span>
          </li>
        </ng-container>
      </ul>
    </nav>
    <div *ngIf="overview"
      [hidden]="currentTab !== TabType.Elements || !hasData() || !hasItems()">
      <app-home-page-overview [inputs]="overview">
      </app-home-page-overview>
    </div>
    <div class="sticky z-10 wsl-box top-16" *ngIf="suite && params"
      [hidden]="currentTab !== TabType.Elements">
      <app-home-version-navigator [suite]="suite" [params]="params">
      </app-home-version-navigator>
    </div>
    <div class="grid wsl-min-h-screen-4 place-content-center"
      *ngIf="currentTab === TabType.Elements && (!hasData() || !hasItems())">
      <div class="wsl-spinner">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </div>
    </div>
    <div
      [hidden]="currentTab !== TabType.Elements || !hasData() || !hasItems()">
      <app-batch-list-elements>
      </app-batch-list-elements>
    </div>
    <div
      [hidden]="currentTab !== TabType.Elements || !hasData() || !hasItems()">
      <app-batch-tab-comments>
      </app-batch-tab-comments>
    </div>
  </main>
</div>
