<div class="wsl-modal-header">
  <h4 class="wsl-modal-title">Seal Version {{ elements.batch.batchSlug }}</h4>
</div>
<div class="wsl-modal-body">
  <app-alert [alert]="alert"></app-alert>
  <p class="mb-2 text-sm">
    You are about to seal version
    <strong>{{ elements.batch.batchSlug }}</strong>
    of testsuite
    <strong>{{ elements.batch.suiteName }}</strong>
    . This action prohibits any further submission of testresults for this
    version.
  </p>
  <form class="wsl-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="wsl-form-footer">
      <div class="wsl-form-submit">
        <button type="submit" class="wsl-btn-lg wsl-btn-primary">Seal</button>
      </div>
      <div class="wsl-form-links">
        <button
          class="wsl-btn-lg wsl-btn-secondary"
          type="button"
          (click)="closeModal()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
