<div class="wsl-modal wsl-custom-modal">
  <div class="wsl-modal-header">
    <h4>Seal Version {{ batch.batchSlug }}</h4>
  </div>
  <div class="wsl-modal-body">
    <div *ngIf="alert" class="alert" [ngClass]="alert[0]" role="alert">
      <small [innerHtml]="alert[1]"></small>
    </div>
    <p>You are about to seal version <strong>{{ batch.batchSlug }}</strong>
      of testsuite <strong>{{ batch.suiteName }}</strong>. This action
      prohibits any further submission of testresults for this version.
    </p>
    <form class="wsl-form" [formGroup]="form" novalidate
      (ngSubmit)="onSubmit(form.value)">
      <div class="wsl-form-footer">
        <div class="wsl-form-submit">
          <button type="submit" class="wsl-btn-dark" tabindex="2">
            Seal
          </button>
        </div>
        <div class="wsl-form-links">
          <button type="button" (click)="closeModal()" class="wsl-btn-link" tabindex="3">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
