<section class="wsl-page-tab" id="wsl-teams-tab-teams">
  <ng-container *ngIf="counters.active">
    <app-home-list-filter [manager]="filterManager" [params]="filterParams()"
      [stats]="filterStats()" (updateList)="updateList($event)">
    </app-home-list-filter>
    <div class="wsl-list" *ngIf="counters.active">
      <div class="wsl-list-head">
        <p *ngIf="counters.active !== countRows(ItemType.Active)">
          You are viewing
          <b>{{ counters.active | i18nPlural: { '=1': 'one', 'other': '#' } }}</b>
          of {{ countRows(ItemType.Active) }} teams.
        </p>
      </div>
      <ul class="wsl-list-body">
        <li class="wsl-list-item-outer"
          *ngFor="let item of getShownRows(ItemType.Active); let i = index;"
          (click)="selectedRow = i;"
          [ngClass]="{'bg-sky-50': selectedRow === i}">
          <app-teams-item-team [item]="item">
          </app-teams-item-team>
        </li>
      </ul>
    </div>
    <app-home-list-pager [params]="pagerParams()" [stats]="filterStats()"
      (updateList)="updateList($event)">
    </app-home-list-pager>
    <app-home-feedback-link *ngIf="counters.invited + counters.joining === 0"
      [page]="'app-teams-tab-teams'">
    </app-home-feedback-link>
  </ng-container>
  <div class="wsl-requests-list" *ngIf="counters.invited">
    <h2 class="pb-1 text-xl font-medium">Your Invitations</h2>
    <ul class="wsl-list-body">
      <li class="flex items-center justify-between p-4"
        *ngFor="let item of getShownRows(ItemType.Invited)">
        <p class="text-sm">
          You have been invited to join team <b>{{ item.data.name }}</b>.
        </p>
        <div class="space-x-2">
          <button class="wsl-btn-sm wsl-btn-light" (click)="accept(item)">
            Accept
          </button>
          <button class="wsl-btn-sm wsl-btn-muted"
            (click)="confirmDecline(item)">
            Decline
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="wsl-requests-list" *ngIf="counters.joining">
    <h2 class="pb-1 text-xl font-medium">Your Requests</h2>
    <ul class="wsl-list-body">
      <li class="flex items-center justify-between p-4"
        *ngFor="let item of getShownRows(ItemType.Joining)">
        <p class="text-sm">
          Your request to join team <b>{{ item.data.name }}</b> is pending
          approval by their administrators.
        </p>
        <div class="space-x-2">
          <button class="wsl-btn-sm wsl-btn-muted"
            (click)="confirmRescind(item)">
            Cancel Request
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="!counters.active">
    <img src="./assets/undraw/undraw_elements_cipa.svg" />
  </div>
</section>
