<div [hidden]="!hasData() || hasItems()">
  <app-teams-first>
  </app-teams-first>
</div>
<div [hidden]="!hasData() || !hasItems()">
  <div class="bg-gray-100 border-b border-gray-200">
    <div class="wsl-page-head">
      <nav aria-label="breadcrumb">
        <ol>
          <li aria-current="page">Your Teams</li>
        </ol>
      </nav>
      <div class="print:hidden">
        <button type="button" (click)="openCreateModal()"
          class="flex items-center space-x-1 wsl-btn-sm wsl-btn-dark group">
          <ng-icon class="inline h-4 opacity-75 group-hover:opacity-100"
            name="hero-plus-solid"></ng-icon>
          <span>New Team</span>
        </button>
      </div>
    </div>
  </div>
  <div [hidden]="currentTab !== TabType.Teams">
    <app-teams-tab-teams>
    </app-teams-tab-teams>
  </div>
</div>
