/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

ol {
  li:not(:last-child):after {
    content: "\2002/\2002";
  }
}
aside {
  li {
    &.active {
      color: #2684c7;
      font-weight: 500;
    }
  }
}
