.wy-nav-content {
  padding: 1.5rem 3rem;
}
.wy-nav-content a:visited {
  color: #2980b9;
}
.rst-content {
  min-height: calc(100vh - 3rem);
}
.wy-side-nav-search {
  background-color: #0d0d2b;
}
.wy-side-scroll {
  background: linear-gradient(#0d0d2b, #093d69);
}
