cpp/local
javascript/**/dist
python/.python-version
python/**/.env
python/**/output
python/**/__pycache__
java/.gradle
java/.project
java/**/build
java/**/.classpath
java/**/.project
java/**/org.eclipse.buildship.core.prefs
