cpp/local
javascript/**/dist
python/.python-version
python/**/.env
python/**/output
python/**/__pycache__
java/**/build
java/**/.classpath
java/**/org.eclipse.buildship.core.prefs
#java
.project
.gradle
.settings
