/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .wsl-alert {
    @apply py-3 px-5 mb-4 rounded-md shadow-sm;
  }
  .wsl-alert-text {
    @apply font-normal text-sm;
  }
  .wsl-alert-danger {
    @apply bg-red-100 border-red-200 text-red-800;
  }
  .wsl-alert-info {
    @apply bg-blue-100 border-blue-200 text-blue-800;
  }
  .wsl-alert-success {
    @apply bg-green-100 border-green-200 text-green-800;
  }
  .wsl-alert-warning {
    @apply bg-yellow-100 border-yellow-200 text-yellow-800;
  }
  .wsl-btn-lblue {
    @apply py-2 px-4 bg-transparent text-lblue-700 font-semibold rounded-lg text-sm leading-6 hover:text-lblue-800 hover:bg-lblue-100 focus:outline-none;
  }
  .wsl-btn-light {
    @apply py-2 px-4 bg-lblue-100 text-lblue-700 font-semibold rounded-lg text-sm leading-6 shadow-sm hover:bg-lblue-200 focus:outline-none;
  }
  .wsl-btn-dark {
    @apply py-2 px-4 bg-lblue-600 text-white font-semibold rounded-lg text-sm leading-6 shadow-md hover:bg-lblue-700 focus:outline-none;
  }
  .wsl-form {
    @apply space-y-4;
  }
  .wsl-form-footer {
    @apply mt-4 flex;
  }
  .wsl-form-submit {
    @apply flex-grow;
  }
  .wsl-form-links {
    @apply space-x-4;
  }
  .wsl-input-field {
    @apply mt-1 block w-full rounded-md shadow-sm sm:text-sm border-gray-300 focus:border-lblue-300 focus:ring focus:ring-lblue-200 focus:ring-opacity-50;
  }
  .wsl-input-label {
    @apply block text-sm font-medium text-gray-700;
  }
  .wsl-modal-header {
    @apply p-3 bg-gray-100 border-b;
  }
  .wsl-modal-title {
    @apply font-medium;
  }
  .wsl-modal-body {
    @apply p-4;
  }
  .wsl-page-auth {
    @apply wsl-min-h-screen-1 mx-auto container grid grid-cols-1 place-content-center;
  }
  .wsl-page-auth-title {
    @apply mx-auto mb-6 text-3xl font-semibold;
  }
  .wsl-page-auth-body {
    @apply w-full md:max-w-screen-md mx-auto px-4;
  }
  .wsl-page-auth-form {
    @apply w-full md:w-2/3 mx-auto p-4 rounded-md shadow-lg;
  }
  .wsl-text-danger {
    @apply text-red-600;
  }
  .wsl-text-muted {
    @apply text-gray-500;
}
  .wsl-page-banner {
    @apply wsl-page-auth md:max-w-screen-sm text-center;
    h2 {
      @apply text-3xl font-medium;
}
    h3 {
      @apply text-xl wsl-text-muted;
    }
    img {
      @apply px-8 py-4;
    }
    p {
      @apply p-4 text-left md:text-justify font-light;
    }
    a {
      @apply text-lblue-700;
    }
    button {
      @apply wsl-btn-light;
    }
  }
}

.wsl-min-h-screen-1 {
  min-height: calc(100vh - 4rem);
}

.wsl-min-h-screen-2 {
  min-height: calc(100vh - 8rem);
}

ngneat-dialog {
  .ngneat-dialog-content {
    border-radius: 0.5rem;
  }
}


.wsl-auth {
  @include weaselcss.weasel-auth-main();
}

.wsl-auth-form {
  @include weaselcss.weasel-auth-form();
}

.wsl-banner-nohead {
  @include weaselcss.weasel-banner-page(0vh);
  @include weaselcss.weasel-banner-page-elements();
}

.wsl-banner-with-head {
  @include weaselcss.weasel-banner-page(weaselcss.$weasel-page-head-min-height);
  @include weaselcss.weasel-banner-page-elements();
}

.wsl-btn-danger {
  @include weaselcss.weasel-button-danger();
}

.wsl-btn-dark {
  @include weaselcss.weasel-button-dark();
}

.wsl-btn-light {
  @include weaselcss.weasel-button-light();
}

.wsl-btn-link {
  @include weaselcss.weasel-button-link();
}

.wsl-form {
  @include weaselcss.weasel-form-main();
}

.wsl-list {
  @include weaselcss.weasel-list-main();
}

.wsl-list-item {
  @include weaselcss.weasel-item-main();
}

.wsl-list-filter {
  @include weaselcss.weasel-filter-main();
}

.wsl-list-filter-reset {
  @include weaselcss.weasel-filter-reset();
}

.wsl-list-filter-empty {
  @include weaselcss.weasel-filter-empty();
}

.wsl-modal {
  @include weaselcss.weasel-modal-main();
}

.wsl-modal-confirm {
  @include weaselcss.weasel-modal-confirm();
}

.wsl-page-head {
  @include weaselcss.weasel-page-head();
}

.wsl-page-tab {
  @include weaselcss.weasel-page-tab();
}

.wsl-page-overview {
  @include weaselcss.weasel-page-overview();
}

.wsl-settings {
  @include weaselcss.weasel-settings-main();
}

.wsl-spinner {
  @include weaselcss.weasel-banner-spinner();
}

.wsl-text-danger {
  color: weaselcss.weasel-color("text-danger");
}

.wsl-text-success {
  color: weaselcss.weasel-color("text-success");
}

.wsl-dropdown .dropdown-menu {
  font-size: small;
  .dropdown-header {
    padding: 0 0.5rem;
  }
  .wsl-dropdown-item {
    cursor: pointer;
  }
  .dropdown-divider {
    margin: 0;
  }
}

.wsl-error-bar {
  .alert {
    margin-bottom: 0;
    text-align: center;
  }
}

.wsl-screen-only {
  display: inherit;
}

.wsl-print-only {
  display: none;
}

@media print {

  .wsl-screen-only {
    display: none;
  }

  .wsl-print-only {
    display: inherit;
  }

}
