// Copyright 2021 Touca, Inc. Subject to Apache-2.0 License.

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wsl-btn-sm {
    @apply text-sm leading-6 focus:outline-none py-1 px-2 rounded;
  }
  .wsl-btn-lg {
    @apply text-sm leading-6 focus:outline-none py-2 px-4 rounded-lg font-semibold;
  }
  .wsl-btn-primary {
    @apply bg-sky-600 duration-150 ease-in-out text-white font-medium shadow-md hover:bg-sky-900 focus:ring-2 focus:ring-opacity-50 focus:ring-sky-400 dark:bg-sky-800 dark:shadow-none;
  }
  .wsl-btn-secondary {
    @apply bg-sky-100 duration-150 ease-in-out text-sky-700 shadow-sm hover:bg-sky-200 focus:ring-2 focus:ring-opacity-50 focus:ring-sky-400 dark:shadow-none dark:hover:bg-gray-600 dark:text-gray-300 dark:bg-gray-700;
  }
  .wsl-btn-danger {
    @apply bg-red-600 duration-150 ease-in-out text-white font-medium shadow-md hover:bg-red-700 focus:ring-2 focus:ring-opacity-50 focus:ring-red-400 dark:hover:bg-red-900 dark:bg-red-800 dark:shadow-none;
  }
  .wsl-btn-muted {
    @apply bg-gray-50 duration-150 ease-in-out text-black border border-gray-200 hover:bg-gray-100 focus:ring-1 focus:ring-opacity-50 focus:ring-gray-400 disabled:text-gray-300 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 dark:hover:bg-gray-600 dark:focus:ring-gray-500 dark:disabled:text-gray-600;
  }
  .wsl-input-field {
    @apply block w-full rounded-md shadow-sm text-sm text-black border-gray-300 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-0  dark:placeholder:text-gray-300;
  }
  .wsl-input-label {
    @apply mb-1 block text-sm font-medium text-gray-700 dark:text-gray-300;
  }
  .wsl-text-danger {
    @apply text-red-600 dark:text-red-500;
  }
  .wsl-text-muted {
    @apply text-gray-500 dark:text-gray-400;
  }
  .wsl-text-success {
    @apply text-green-600;
  }
}

@layer utilities {
  .wsl-min-h-screen-1 {
    min-height: calc(100vh - 4rem);
  }
  .wsl-min-h-screen-2 {
    min-height: calc(100vh - 8rem);
  }
  .wsl-min-h-screen-3 {
    min-height: calc(100vh - 17rem);
  }
  .wsl-min-h-screen-4 {
    min-height: calc(100vh - 21rem);
  }
  .wsl-form {
    @apply space-y-4;
  }
  .wsl-form-footer {
    @apply mt-4 flex;
  }
  .wsl-form-submit {
    @apply flex-grow;
  }
  .wsl-form-links {
    @apply space-x-4;
  }
  .wsl-modal-header {
    @apply p-3 bg-gray-100 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700;
  }
  .wsl-modal-title {
    @apply font-medium text-black dark:text-gray-300;
  }
  .wsl-modal-body {
    @apply p-4 space-y-4 dark:bg-gray-800;
  }
  .wsl-page-auth {
    @apply mx-auto container grid grid-cols-1 place-content-center;
  }
  .wsl-page-auth-title {
    @apply mx-auto mb-6 text-3xl font-semibold text-black dark:text-gray-300;
  }
  .wsl-page-auth-body {
    @apply w-full mx-auto max-w-lg;
  }
  .wsl-page-tab {
    @apply space-y-4;
  }
  .wsl-page-banner {
    @apply wsl-page-auth md:max-w-md text-center space-y-4 text-black dark:text-gray-300;
    h2 {
      @apply text-3xl font-medium;
    }
    h3 {
      @apply text-xl wsl-text-muted;
    }
    img {
      @apply p-4 mx-auto w-3/5;
    }
    p {
      @apply p-4 font-light text-left dark:rounded-lg dark:bg-gray-800 dark:text-gray-200;
    }
    a {
      @apply text-sky-700 font-medium dark:text-sky-600;
    }
    button {
      @apply wsl-btn-lg wsl-btn-primary;
    }
  }
  .wsl-dropdown-menu {
    @apply absolute z-10 right-0 py-2 mt-2 bg-white text-sm font-normal border border-gray-200 rounded-md shadow-md print:hidden dark:bg-gray-800 dark:border-gray-700;
  }
  .wsl-dropdown-item {
    @apply p-2 cursor-pointer select-none hover:bg-gray-100 text-black dark:text-gray-300 dark:hover:bg-gray-900;
  }
  .wsl-box {
    @apply bg-white rounded-md shadow-sm print:shadow-none print:border print:border-gray-200 dark:bg-gray-800;
  }
  /* settings.scss */
  .wsl-settings-section {
    @apply p-4 bg-white rounded-md shadow-sm dark:bg-gray-800;
    app-alert {
      @apply mb-4 block;
    }
    h3 {
      @apply mb-2 pb-2 text-lg font-medium border-b border-gray-200 text-black dark:border-gray-700 dark:text-gray-300;
    }
    b {
      @apply font-medium;
    }
    p {
      @apply mb-4 text-sm text-black dark:text-gray-300;
    }
  }
  /* page.scss */
  .wsl-page-head {
    @apply h-16 px-4 py-2 mx-auto flex items-center text-lg font-medium select-none;
    nav {
      @apply flex-grow whitespace-nowrap;
    }
    nav ol {
      @apply text-blue-500 dark:text-sky-600 flex;
    }
    nav ol > li:last-child {
      @apply text-black dark:text-gray-300;
    }
    nav ol > li:not(:last-child):after {
      content: '\2004/\2004';
      @apply text-gray-400 dark:text-gray-500;
    }
  }
  .wsl-page-nav-item {
    @apply flex items-center px-4 py-2 space-x-2 rounded-md select-none cursor-pointer ease-in-out duration-300 hover:bg-gray-200 hover:bg-opacity-50 dark:hover:bg-gray-800;
    ng-icon {
      @apply text-gray-500 dark:text-gray-400;
    }
    p {
      @apply flex-grow font-medium text-sm text-black dark:text-gray-200;
    }
    span {
      @apply hidden sm:block w-6 h-6 p-1 text-xs font-medium text-center bg-gray-200 rounded-full group-hover:bg-gray-100 dark:bg-gray-700 dark:text-gray-300 dark:group-hover:bg-gray-900;
    }
  }
  .wsl-tab-active {
    @apply bg-gray-200 dark:bg-gray-800;
    ng-icon {
      @apply text-gray-600 dark:text-gray-300;
    }
    span {
      @apply bg-gray-100 text-black dark:bg-gray-700 dark:text-gray-200;
    }
  }
  /* list.scss */
  .wsl-list-body {
    @apply divide-y divide-gray-200 border-t border-b border-gray-200 dark:divide-gray-700 dark:border-gray-700;
  }
  .wsl-list-head {
    h3 {
      @apply pb-1 text-xl font-medium text-black dark:text-gray-300;
    }
    p {
      @apply pb-2 text-gray-500 text-xs dark:text-gray-400;
    }
  }
  /* item.scss */
  .wsl-list-item {
    @apply py-4 px-2 md:px-6 md:flex md:justify-between;
  }
  .wsl-item-heading {
    @apply flex space-x-4;
  }
  .wsl-item-status {
    @apply leading-8 flex items-center;
  }
  .wsl-item-title {
    p {
      @apply text-base font-medium leading-8 truncate max-w-xs xl:max-w-lg text-gray-700 dark:text-gray-300;
    }
    a p {
      @apply text-blue-500 dark:text-sky-500;
    }
  }
  .wsl-item-topics {
    @apply flex flex-row text-sm space-x-8 md:leading-8;
  }
  .wsl-item-topic {
    @apply text-gray-500 select-none dark:text-gray-400 text-right;
    min-width: 4rem;
  }
  .wsl-item-ctrl-box {
    @apply flex flex-row-reverse text-sm leading-8 print:hidden min-w-[5rem];
    .wsl-item-ctrl {
      @apply px-2 cursor-pointer;
      fa-icon {
        @apply text-gray-200 text-lg dark:text-sky-700;
      }
      &:hover fa-icon {
        @apply text-gray-300 dark:text-sky-600;
      }
    }
  }
  .wsl-item-pills {
    @apply hidden sm:flex flex-row space-x-1 overflow-hidden text-xs leading-6 sm:leading-8 lg:whitespace-nowrap;
  }
  .wsl-item-pill {
    @apply flex items-center px-1 lg:px-2 space-x-1 overflow-hidden text-gray-500 duration-75 ease-in-out bg-white border border-gray-200 rounded-full cursor-pointer select-none hover:border-gray-300 hover:text-gray-700 xl:px-3 whitespace-nowrap dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:border-gray-600 dark:hover:text-gray-200;
  }
  /* result.scss */
  .wsl-item-topic-type-simple {
    @apply px-3 py-1 bg-gray-100 text-gray-500 rounded-sm dark:bg-gray-700 dark:text-gray-400;
  }
  .wsl-item-topic-type-complex {
    @apply px-3 py-1 bg-blue-100 text-blue-500 rounded-sm cursor-pointer dark:bg-gray-700 dark:text-sky-400;
  }
  .wsl-complex-block {
    @apply px-4;
    .wsl-complex-block-head {
      @apply flex px-4 justify-between text-gray-500 dark:text-gray-300;
    }
    .wsl-complex-block-desc {
      @apply text-center;
      span {
        @apply text-sm;
      }
    }
    .wsl-complex-block-icons {
      @apply invisible;
      .wsl-complex-block-icon {
        @apply opacity-50 hover:opacity-100 text-sky-600;
      }
    }
    pre {
      @apply p-4 bg-white text-xs text-black dark:bg-gray-800 dark:text-gray-300;
    }
    &:hover .wsl-complex-block-icons {
      @apply visible;
    }
  }
  .wsl-complex-single {
    @apply pb-4 md:w-3/4 md:mx-auto;
  }
  .wsl-complex-double {
    @apply pb-4 md:grid md:grid-cols-2 md:gap-4;
  }
}

ngneat-dialog {
  .ngneat-dialog-content {
    border-radius: 0.5rem;
  }
}

#chat-box {
  @apply fixed z-40 md:right-4 bottom-16 h-[530px] w-[376px];
  #hubspot-conversations-inline-parent {
    @apply h-full;
  }
  iframe {
    @apply h-full w-full rounded-lg border border-gray-200 shadow-lg;
  }
}
