<app-header-outside></app-header-outside>
<div class="wsl-min-h-screen-1 mx-auto container space-y-12 py-6">
  <section class="grid grid-cols-1 place-content-center">
    <div class="max-w-screen-md mx-auto p-4">
      <h2 class="mb-2 text-4xl md:text-5xl leading-none font-extrabold tracking-tight">
        Continuous snapshot testing for mission-critical softwares.
      </h2>
      <p class="text-gray-500">
        Refactor your most complex workflows, safely and efficiently,
        without managing test result files.
      </p>
    </div>
  </section>
  <section class="grid grid-cols-1 place-content-center">
    <div class="mx-auto md:w-full md:max-w-screen-md">
      <app-forms-signup></app-forms-signup>
    </div>
  </section>
</div>
<app-footer-outside></app-footer-outside>
