<section class="min-h-screen bg-gradient-to-br from-primary to-secondary">
  <app-header-outside [transparent]="true">
  </app-header-outside>
  <div class="wsl-min-h-screen-1 lg:flex">
    <div class="container mx-auto grid lg:grid-cols-2 lg:gap-4 lg:items-center">
      <div class="col-span-1 mx-auto pt-24 lg:pt-8 p-8 space-y-8 text-white">
        <h2 class="max-w-xl text-4xl xl:text-5xl font-bold">
          Continuous regression testing for critical software workflows
        </h2>
        <p class="max-w-xl text-2xl">
          Keep tabs on changes in behavior and performance
          of your software without using snapshot files.
        </p>
        <div>
          <form [formGroup]="formSignup"
            (ngSubmit)="ctaSignup(formSignup.value)" novalidate>
            <label class="wsl-input-label sr-only" for="wsl-email">Email
              Address</label>
            <div class="flex h-10 space-x-2">
              <input
                class="flex-grow-0 lg:flex-grow h-full rounded-md shadow-md bg-white text-black border border-gray-300 focus:outline-none focus:border-gray-500 focus:ring-0"
                type="email" id="wsl-email" placeholder="Email address" required
                formControlName="email">
              <button type="submit" role="button"
                class="h-full overflow-hidden px-4 bg-green-500 text-white font-semibold rounded-md shadow-md border border-transparent focus:border-gray-200 focus:outline-none focus:ring-0">
                Signup for Free</button>
            </div>
          </form>
          <div class="font-medium space-x-1"
            [ngClass]="ctaSignupOutcome.success ? 'text-green-300': 'text-yellow-300'"
            *ngIf="isStartFormValid() && ctaSignupOutcome">
            <svg class="inline h-4" *ngIf="ctaSignupOutcome.success"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <svg class="inline h-4" *ngIf="!ctaSignupOutcome.success"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <small>{{ ctaSignupOutcome.message }}</small>
          </div>
          <div class="font-medium text-yellow-300 space-x-1"
            *ngIf="!isStartFormValid()">
            <svg class="inline h-4" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <small>Please use a valid email address.</small>
          </div>
          <p class="mt-2">You can explore Weasel in action using the test
            results in our playground.</p>
        </div>
        <button
          class="py-2 space-x-2 font-medium hover:underline focus:underline focus:outline-none group"
          type="button" role="button" (click)="ctaLiveDemo()">
          <span>Get a Live Demo</span>
          <svg class="inline h-4 opacity-50 group-hover:opacity-100"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
        </button>
        <div class="container mx-auto space-y-4">
          <p class="text-white uppercase">Trusted By</p>
          <div class="flex space-x-2">
            <a href="https://vitalimages.com" target="_blank" rel="noopener">
              <img class="text-gray-50" alt=""
                src="./assets/images/customer_logo_vital.svg" />
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-span-1 max-w-screen-md h-full w-full mx-auto px-8 pb-8 lg:py-0 lg:px-4 select-none flex items-center">
        <img class="rounded-lg shadow-md"
          alt="A Screen Shot of Weasel Regression Testing Platform"
          src="./assets/images/weasel-atf-visual.png" />
      </div>
    </div>
  </div>
</section>
<section class="py-8 bg-gray-50">
  <div
    class="container mx-auto grid lg:grid-cols-2 lg:gap-4 space-y-8 lg:space-y-0">
    <div class="col-span-1 px-8 grid">
      <div class="max-w-xl place-self-center space-y-4">
        <p class="text-2xl">Our mission is to make it more efficient to build
          and maintain software products.</p>
        <p class="text-2xl lg:text-3xl font-extrabold">How much could an
          escaped defect cost <span class="italic">your</span> business?</p>
      </div>
    </div>
    <div class="col-span-1 relative max-w-screen-md mx-auto">
      <div class="absolute w-full h-full px-4 lg:px-2 xl:px-0">
        <div class="bg-lblue-100 rounded-2xl w-full h-full transform -rotate-2">
        </div>
      </div>
      <div class="z-10 px-8 lg:px-4 flex items-center transform">
        <div
          class="place-self-center p-8 bg-white border border-gray-100 shadow-md rounded-2xl space-y-4">
          <figcaption class="flex items-center space-x-2 md:space-x-4">
            <img class="w-16 h-16 rounded-full"
              src="../../assets/images/pejman-photo-201110.jpg">
            <div class="font-medium">
              <div>Pejman Ghorbanzade</div>
              <div class="text-gray-600 text-sm">Sr. Software Engineer at Vital
                Images, Inc.</div>
            </div>
          </figcaption>
          <blockquote class="text-black text-sm md:text-base font-normal">
            <p>"We use Weasel at scale to perform nightly regression tests of
              mission-critical workflows in the low-level components of our
              medical imaging visualization software. It has helped us quickly
              identify unintended side effects of our code changes before they
              become too expensive to fix. I like how easy it is to write
              Weasel regression tests and automate their execution."</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-8 bg-gray-50">
  <div class="container mx-auto space-y-4">
    <div class="max-w-xl lg:max-w-3xl mx-auto">
      <p class="text-lg lg:text-2xl text-center font-medium">
        There is a <span class="text-green-500">better</span> way to find
        <span class="text-red-500">regressions</span> in software workflows.
      </p>
    </div>
    <div class="wsl-landing-feature-overview">
      <div>
        <svg class="text-red-200" viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <path transform="rotate(0,250,250)"
            d="M413.5,342Q356,434,246.5,440Q137,446,73.5,348Q10,250,76.5,157.5Q143,65,236.5,88Q330,111,400.5,180.5Q471,250,413.5,342Z">
          </path>
        </svg>
        <div class="wsl-landing-feature-card">
          <div class="wsl-landing-feature-card-header text-red-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
            </svg>
            <span>Submit</span>
          </div>
          <p>Use our client libraries to capture and submit test results and
            performance benchmarks from anywhere within your workflow.</p>
        </div>
      </div>
      <div>
        <svg class="text-green-200" viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <path transform="rotate(90,250,250)"
            d="M413.5,342Q356,434,246.5,440Q137,446,73.5,348Q10,250,76.5,157.5Q143,65,236.5,88Q330,111,400.5,180.5Q471,250,413.5,342Z">
          </path>
        </svg>
        <div class="wsl-landing-feature-card">
          <div class="wsl-landing-feature-card-header text-green-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
            </svg>
            <span>Interpret</span>
          </div>
          <p>We compare your submitted results against their baseline version
            and help you understand the impact of your code changes.
          </p>
        </div>
      </div>
      <div>
        <svg class="text-yellow-200" viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <path transform="rotate(180,250,250)"
            d="M413.5,342Q356,434,246.5,440Q137,446,73.5,348Q10,250,76.5,157.5Q143,65,236.5,88Q330,111,400.5,180.5Q471,250,413.5,342Z">
          </path>
        </svg>
        <div class="wsl-landing-feature-card">
          <div class="wsl-landing-feature-card-header text-yellow-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <span>Collaborate</span>
          </div>
          <p>Add notes and write comments on submitted test results for
            each version to easily audit how your software evolves over time.
          </p>
        </div>
      </div>
      <div>
        <svg class="text-blue-200" viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <path transform="rotate(270,250,250)"
            d="M413.5,342Q356,434,246.5,440Q137,446,73.5,348Q10,250,76.5,157.5Q143,65,236.5,88Q330,111,400.5,180.5Q471,250,413.5,342Z">
          </path>
        </svg>
        <div class="wsl-landing-feature-card">
          <div class="wsl-landing-feature-card-header text-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            <span>Automate</span>
          </div>
          <p>Use our test frameworks to automate your regression tests and
            manage their execution schedule through our platform.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="wsl-landing-feature-detail-section bg-white">
  <div>
    <div class="relative items-center order-2 lg:order-1">
      <svg class="absolute fill-current text-red-200" width="100%" height="100%"
        viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <path transform="rotate(0,250,250)"
          d="M445.71 351.009C402.243 428.336 339.12 469.521 256.343 474.564C173.565 479.607 108.175 440.943 60.1717 358.573C12.1683 276.203 13.3023 196.145 63.5735 118.398C113.845 40.6504 174.321 11.4427 245.003 30.7744C315.686 50.1061 377.674 88.9797 430.969 147.395C484.264 205.811 489.178 273.682 445.71 351.009Z" />
      </svg>
      <div class="z-10">
        <img class="rounded-md shadow-md" width="100%"
          src="../../assets/images/weasel_landing_feature_1.png" />
      </div>
    </div>
    <div class="order-1 lg:order-2">
      <wsl-landing-feature [data]="features[0]">
      </wsl-landing-feature>
    </div>
  </div>
</section>
<section class="wsl-landing-feature-detail-section bg-gray-50">
  <div>
    <div>
      <wsl-landing-feature [data]="features[1]">
      </wsl-landing-feature>
    </div>
    <div></div>
  </div>
</section>
<section class="wsl-landing-feature-detail-section bg-white">
  <div>
    <div></div>
    <div>
      <wsl-landing-feature [data]="features[2]">
      </wsl-landing-feature>
    </div>
  </div>
</section>
<section class="wsl-landing-feature-detail-section bg-gray-50">
  <div>
    <div>
      <wsl-landing-feature [data]="features[3]">
      </wsl-landing-feature>
    </div>
    <div></div>
  </div>
</section>
<app-footer-outside></app-footer-outside>
