<section class="min-h-screen bg-gradient-to-br from-primary to-secondary">
  <app-header-outside [transparent]="true">
  </app-header-outside>
  <div class="wsl-min-h-screen-1 lg:flex">
    <div class="container mx-auto grid lg:grid-cols-2 lg:gap-4 lg:items-center">
      <div class="mx-auto pt-24 lg:pt-8 col-span-1 p-8 space-y-8 text-white">
        <h2 class="max-w-xl text-4xl xl:text-5xl font-bold">
          Continuous regression testing for critical software workflows
        </h2>
        <p class="max-w-xl text-2xl">
          Keep tabs on changes in behavior and performance
          of your software without using snapshot files.
        </p>
        <div>
          <form [formGroup]="formSignup"
            (ngSubmit)="ctaSignup(formSignup.value)" novalidate>
            <label class="wsl-input-label sr-only" for="wsl-email">Email
              Address</label>
            <div class="flex h-10 space-x-2">
              <input
                class="flex-grow-0 lg:flex-grow h-full rounded-md shadow-md bg-white text-black border border-gray-300 focus:outline-none focus:border-gray-500 focus:ring-0"
                type="email" id="wsl-email" placeholder="Email address" required
                formControlName="email">
              <button type="submit" role="button"
                class="h-full px-4 bg-green-500 text-white font-semibold rounded-md shadow-md border border-transparent focus:border-gray-200 focus:outline-none focus:ring-0">
                Signup for Free</button>
            </div>
          </form>
          <div class="font-medium space-x-1"
            [ngClass]="ctaSignupOutcome.success ? 'text-green-300': 'text-yellow-300'"
            *ngIf="isStartFormValid() && ctaSignupOutcome">
            <svg class="inline h-4" *ngIf="ctaSignupOutcome.success"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <svg class="inline h-4" *ngIf="!ctaSignupOutcome.success"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <small>{{ ctaSignupOutcome.message }}</small>
          </div>
          <div class="font-medium text-yellow-300 space-x-1"
            *ngIf="!isStartFormValid()">
            <svg class="inline h-4" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <small>Please use a valid email address.</small>
          </div>
          <p class="mt-2">You can explore Weasel in action using the test
            results in our playground.</p>
        </div>
        <button
          class="py-2 space-x-2 font-medium hover:underline focus:underline focus:outline-none group"
          type="button" role="button" (click)="ctaLiveDemo()">
          <span>Get a Live Demo</span>
          <svg class="inline h-4 opacity-50 group-hover:opacity-100"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
        </button>
      </div>
      <div
        class="col-span-1 max-w-screen-md h-full w-full mx-auto px-8 pb-8 lg:py-0 lg:px-4 select-none flex items-center">
        <!-- <svg width="100%" height="100%" viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet">
          <rect width="100%" height="100%" fill="white" />
        </svg> -->
        <img class="rounded-lg shadow-md"
          alt="A Screen Shot of Weasel Regression Testing Platform"
          src="./assets/images/weasel-atf-visual.png" />
      </div>
    </div>
  </div>
</section>
<app-footer-outside></app-footer-outside>
