<div class="relative max-w-screen-md mx-auto">
  <div class="absolute w-full h-full px-4 lg:px-2 xl:px-0">
    <div class="bg-lblue-100 rounded-2xl w-full h-full transform -rotate-2">
    </div>
  </div>
  <div class="z-10 px-8 lg:px-4 flex items-center transform">
    <div
      class="place-self-center p-8 bg-white border border-gray-100 shadow-md rounded-2xl space-y-4">
      <figcaption class="flex items-center space-x-2 md:space-x-4">
        <img class="w-16 h-16 rounded-full" [src]="data.image">
        <div class="font-medium">
          <div>{{ data.title }}</div>
          <div class="text-gray-600 text-sm">{{ data.subtitle }}</div>
        </div>
      </figcaption>
      <blockquote class="text-black text-sm md:text-base font-normal">
        <p>{{ data.quote }}</p>
      </blockquote>
      <div class="text-right" [hidden]="data.learnMore.hidden">
        <a [routerLink]="data.learnMore.link" [title]="data.learnMore.title">
          <span class="text-sm text-lblue-600"
            [innerHTML]="data.learnMore.text"></span>
        </a>
      </div>
    </div>
  </div>
</div>
