<form *ngIf="shouldShowResetForm" [formGroup]="resetForm"
  (ngSubmit)="onResetSubmission(resetForm.value)" novalidate class="wsl-form">
  <app-alert [alert]="alert" *ngIf="alert"></app-alert>
  <div>
    <label for="wsl-uname" class="wsl-input-label">Username</label>
    <input type="text" id="wsl-uname" tabindex="1" autocomplete="username"
      aria-describedby="wsl-uname-help" formControlName="uname" name="uname"
      class="wsl-input-field">
  </div>
  <div>
    <label for="wsl-upass1" class="wsl-input-label">New Password</label>
    <input type="password" id="wsl-upass1" tabindex="2"
      autocomplete="new-password" aria-describedby="wsl-upass1-help" required
      formControlName="upass1" name="upass1" class="wsl-input-field">
    <small id="wsl-upass1-help" [hidden]="shouldHideAriaDescriptionForUpass1()"
      class="wsl-text-danger">
      Your password must be at least eight characters.
    </small>
  </div>
  <div>
    <label for="wsl-upass2" class="wsl-input-label">Confirm New
      Password</label>
    <input type="password" id="wsl-upass2" tabindex="3"
      autocomplete="new-password" aria-describedby="wsl-upass2-help" required
      formControlName="upass2" name="upass2" class="wsl-input-field">
    <small id="wsl-upass2-help" [hidden]="shouldHideAriaDescriptionForUpass2()"
      class="wsl-text-danger">
      Your password must match the password you entered above.
    </small>
  </div>
  <div class="wsl-form-footer">
    <div class="wsl-form-submit">
      <button type="submit" tabindex="4" class="wsl-btn-lg wsl-btn-dark">
        Reset
      </button>
    </div>
    <div class="wsl-form-links">
      <button type="button" routerLink="/signin" tabindex="5"
        class="wsl-btn-lg wsl-btn-light">
        Remember Your Password?
      </button>
    </div>
  </div>
</form>
