<app-header-outside></app-header-outside>
<div class="wsl-page-auth">
  <h2 class="wsl-page-auth-title">Welcome Back</h2>
  <div class="wsl-page-auth-body">
    <div class="wsl-page-auth-form">
      <div *ngIf="alert" role="alert" class="wsl-alert" [ngClass]="alert[0]">
        <small [innerHtml]="alert[1]" class="wsl-alert-text"></small>
      </div>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm.value)" novalidate class="wsl-form">
        <div>
          <label for="wsl-uname" class="wsl-input-label">Username</label>
          <input type="text" id="wsl-uname" tabindex="1" autocomplete="username" aria-describedby="wsl-uname-help" required formControlName="uname" name="uname" class="wsl-input-field">
        </div>
        <div>
          <label for="wsl-upass" class="wsl-input-label">Password</label>
          <input type="password" id="wsl-upass" tabindex="2" autocomplete="current-password" aria-describedby="wsl-upass-help" required formControlName="upass" name="upass" class="wsl-input-field">
        </div>
        <div class="wsl-form-footer">
          <div class="wsl-form-submit">
            <button type="submit" tabindex="3" class="wsl-btn-lg wsl-btn-dark">
              Sign in
            </button>
          </div>
          <div class="wsl-form-links">
            <button type="button" routerLink="/reset" tabindex="5" class="wsl-btn-lg wsl-btn-light">
              Forgot Your Password?
            </button>
            <button type="button" routerLink="/signup" tabindex="4" class="wsl-btn-lg wsl-btn-light">
              New to Weasel?
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer-inside></app-footer-inside>
