<div class="wsl-auth-form">

  <ngb-alert *ngIf="alert" [type]="alert[0]" [dismissible]="false">
    <small>{{ alert[1] }}</small>
  </ngb-alert>

  <form [formGroup]="signupForm" novalidate
        (ngSubmit)="onSubmit(signupForm.value)">
    <div class="form-group">
      <label for="wsl-mail">Email</label>
      <input type="email" class="form-control" id="wsl-mail" tabindex="1"
              autocomplete="email"
              aria-describedby="wsl-email-help"
              required formControlName="email" name="email"
              data-lpignore="true">
      <small id="wsl-email-help" class="text-danger"
              [hidden]="shouldHideAriaDescription('email')">
        Please provide a valid email address.
      </small>
    </div>
    <div class="form-group">
      <label for="wsl-fname">Full Name</label>
      <input type="text" class="form-control" id="wsl-fname" tabindex="2"
              autocomplete="name"
              aria-describedby="wsl-fname-help"
              required formControlName="fname" name="fname"
              data-lpignore="true">
      <small id="wsl-fname-help" class="text-danger"
              [hidden]="shouldHideAriaDescription('fname')">
        Please provide your full name.
      </small>
    </div>
    <div class="form-group">
      <label for="wsl-uname">Username</label>
      <input type="text" class="form-control" id="wsl-uname" tabindex="3"
              autocomplete="username"
              aria-describedby="wsl-uname-help"
              required formControlName="uname" name="uname">
      <small id="wsl-uname-help" class="text-danger"
              [hidden]="shouldHideAriaDescription('uname')">
        Your username must be at least three characters, may only contain alphanumeric characters and may not start with a number.
      </small>
    </div>
    <div class="form-group">
      <label for="wsl-upass">Password</label>
      <input type="password" class="form-control" id="wsl-upass" tabindex="4"
              autocomplete="current-password"
              aria-describedby="wsl-upass-help"
              required formControlName="upass" name="upass">
      <small id="wsl-upass-help" class="text-danger"
              [hidden]="shouldHideAriaDescription('upass')">
        Your password must be at least eight characters.
      </small>
    </div>
    <div class="wsl-form-footer">
      <div class="wsl-form-submit">
        <button type="submit" class="wsl-btn-dark" tabindex="5">
          Sign up
        </button>
      </div>
      <div class="wsl-form-links">
        <button type="button" routerLink="/signin" class="wsl-btn-link" tabindex="6">
          Already Registered?
        </button>
      </div>
    </div>
  </form>

</div>
