<div class="flex items-center justify-between">
  <div class="space-x-1">
    <span class="mb-1 text-sm font-medium text-gray-700">
      {{ data.title }}</span>
    <span class="text-sm text-gray-500" *ngIf="data.experimental">(Beta
      feature)</span>
  </div>
  <div class="flex items-center space-x-1">
    <span class="text-xs text-green-600" *ngIf="data.saved">Saved</span>
    <label [for]="data.slug">
      <div class="relative cursor-pointer">
        <input class="sr-only" type="checkbox" [id]="data.slug"
          [checked]="data.value || data.default" (change)="toggle.emit(data)">
        <div class="block w-8 h-5 bg-gray-200 rounded-full wsl-checkbox-line">
        </div>
        <div
          class="absolute w-3 h-3 transition bg-white rounded-full wsl-checkbox-dot left-1 top-1">
        </div>
      </div>
    </label>
  </div>
</div>
<small class="wsl-text-muted"
  id="wsl-beta-color-help">{{ data.description }}</small>