/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use "../../styles/weaselcss.scss";

$footer-tail-min-height: 80px;

footer {
  min-height: weaselcss.$weasel-footer-outside-min-height;
}

.custom-footer-tail {
  height: $footer-tail-min-height;
  line-height: $footer-tail-min-height;
}
