<header class="h-16 px-4 mx-auto container flex">
  <div class="flex flex-grow items-center">
    <a [routerLink]="'/'">
      <h1 class="text-2xl text-lblue-600 font-light tracking-tight">Weasel</h1>
    </a>
  </div>
  <nav class="flex items-center space-x-4">
    <div>
      <a class="wsl-btn-lg wsl-btn-transparent" routerLink="/docs" routerLinkActive="active">Docs</a>
    </div>
    <div wslDropdown>
      <a class="wsl-dropdown-toggle wsl-btn-lg wsl-btn-transparent cursor-pointer" id="wsl-user-dropdown" aria-expanded="false">
        <fa-icon icon="user" class="text-lg"></fa-icon>&thinsp;<fa-icon icon="chevron-down" size="sm"></fa-icon>
      </a>
      <div class="wsl-dropdown-menu hidden" aria-labelledby="wsl-user-dropdown">
        <div class="block px-2 text-sm text-gray-800">
          Signed in as <b class="font-medium">{{ currentUser?.username }}</b>
        </div>
        <hr class="my-1">
        <div class="wsl-dropdown-item" (click)="logout()">
          <a class="text-lblue-700">Sign out</a>
        </div>
      </div>
    </div>
  </nav>
</header>
