/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use "../../styles/weaselcss.scss";

header {
  height: weaselcss.$weasel-header-inside-min-height;
  .wsl-container {
    @include weaselcss.weasel-container();
    display: flex;
    padding: 0 1rem;
  }
  a {
    color: weaselcss.weasel-color("template-strong-secondary");
    text-decoration: none;
  }
  .wsl-logo {
    h1 {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: weaselcss.$weasel-header-inside-min-height;
      margin-bottom: 0;
    }
    & + div {
      flex-grow: 1;
    }
  }
  ol {
    list-style: none;
    margin-bottom: 0;
    padding-inline-start: 0;
    li {
      display: inline;
      line-height: weaselcss.$weasel-header-inside-min-height;
      padding: 0.25rem;
      &:last-child {
        padding-right: 0;
      }
      a {
        border: 1px solid transparent;
        font-size: 0.875rem;
        padding: 0.35rem 0.5rem;
      }
      &>a:active, &>a:hover {
        color: weaselcss.weasel-color("template-strong-primary");
      }
      #wsl-user-dropdown + div {
        line-height: normal;
        .dropdown-header {
          padding: 0 0.5rem;
        }
        a {
          font-size: small;
          cursor: pointer;
        }
      }
    }
  }
}
