<header
  class="container flex justify-between h-16 px-4 mx-auto wsl-header-light">
  <div class="flex items-center select-none">
    <a class="flex items-center h-16 focus:outline-none" [routerLink]="'/'">
      <img class="h-12" src="./assets/logo/touca-logo-transparent.svg"
        alt="Touca Logo" />
      <h1 class="text-2xl font-light tracking-tight">Touca</h1>
    </a>
  </div>
  <nav class="flex items-center space-x-4">
    <div>
      <a class="wsl-header-btn-secondary" href="https://docs.touca.io"
        target="_blank">Docs</a>
    </div>
    <div wslDropdown>
      <a class="cursor-pointer select-none wsl-dropdown-toggle wsl-header-btn-secondary"
        id="wsl-user-dropdown" aria-haspopup="true" aria-expanded="false">
        <fa-icon icon="user" class="text-lg"></fa-icon>&nbsp;<fa-icon
          icon="chevron-down" size="sm" class="opacity-50"></fa-icon>
      </a>
      <div class="hidden w-48 wsl-dropdown-menu"
        aria-labelledby="wsl-user-dropdown">
        <div class="block px-2 text-sm text-gray-800">
          Signed in as <b class="font-medium">{{ currentUser?.username }}</b>
        </div>
        <hr class="my-1">
        <div class="wsl-dropdown-item" routerLink="/account/profile">
          <a class="text-sky-700">My Account</a>
        </div>
        <div class="wsl-dropdown-item" *ngIf="isPlatformAdmin"
          routerLink="/account/admin">
          <a class="text-sky-700">Platform Settings</a>
        </div>
        <hr class="my-1">
        <div class="wsl-dropdown-item" (click)="logout()">
          <a class="text-sky-700">Sign out</a>
        </div>
      </div>
    </div>
  </nav>
</header>
