<header
  [ngClass]="{'wsl-header-dark':dark,'wsl-header-light':!dark,'wsl-header-sticky':sticky}">
  <div class="h-16 px-4 mx-auto container flex justify-between">
    <div class="flex items-center select-none">
      <a class="h-16 flex items-center focus:outline-none" [routerLink]="'/'">
        <img class="h-12" src="./assets/logo/weasel-logo-transparent.svg"
          alt="Weasel Logo" />
        <h1 class="text-2xl font-light tracking-tight">
          Weasel</h1>
      </a>
    </div>
    <nav class="flex items-center space-x-4">
      <a class="wsl-header-btn-secondary" routerLinkActive="active"
        routerLink="/docs">Docs</a>
      <a class="wsl-header-btn-primary" routerLinkActive="active"
        routerLink="/account" [hidden]="isLoggedIn()">Get Started</a>
      <a class="wsl-header-btn-primary" routerLinkActive="active"
        [routerLink]="homeLink()" [hidden]="!isLoggedIn()">Dashboard</a>
    </nav>
  </div>
</header>
