<header>
  <div class="mx-auto container">
    <div class="h-16 px-12 flex items-center">
      <div class="flex">
        <a [routerLink]="'/'">
          <h1 class="text-2xl text-lblue-600 font-medium">Weasel</h1>
        </a>
      </div>
      <div class="flex-grow"></div>
      <nav class="flex space-x-4">
        <a [routerLink]="'/docs'" routerLinkActive="active"
          class="py-2 px-4 bg-transparent text-md text-lblue-600 font-semibold rounded-lg leading-6 hover:text-lblue-800 hover:bg-lblue-100 focus:outline-none transition duration-500 ease-in-out">
          Docs
        </a>
        <a [hidden]="!isLoggedIn()" [routerLink]="homeLink()" routerLinkActive="active"
          class="py-2 px-4 bg-lblue-600 text-white font-semibold rounded-lg leading-6 shadow-md hover:bg-lblue-700 focus:outline-none transition duration-500 ease-in-out">
          Home
        </a>
        <a [hidden]="isLoggedIn()" [routerLink]="'/signup'" routerLinkActive="active"
          class="py-2 px-4 bg-lblue-600 text-white font-semibold rounded-lg leading-6 shadow-md hover:bg-lblue-700 focus:outline-none transition duration-500 ease-in-out">
          Get Started
        </a>
      </nav>
    </div>
  </div>
</header>
