<div id="chat-box" [ngClass]="{'hidden': !isChatWidgetOpen}"></div>
<div class="relative" wslDropdown>
  <div class="wsl-dropdown-toggle" id="wsl-help-dropdown" aria-haspopup="true"
    aria-expanded="false" title="Need Help?" (click)="closeChatWidgetIfOpen()">
    <span>?</span>
  </div>
  <ul class="hidden wsl-dropdown-menu wsl-help-dropdown-menu"
    aria-labelledby="wsl-help-dropdown">
    <li class="wsl-dropdown-item" *ngIf="hasIntercom()"
      (click)="openChatWidget()"
      title="We use HubSpot for messaging.&#013;Make sure it's not blocked by your browser.">
      <ng-icon name="hero-chat-alt2" size="1rem">
      </ng-icon>
      <span class="text-gray-600">Send us a message</span>
    </li>
    <li class="wsl-dropdown-item" [routerLink]="['/feedback']"
      [queryParams]="{page: 'team'}"
      title="Let us know how we can improve your experience.">
      <ng-icon name="hero-mail" size="1rem">
      </ng-icon>
      <span class="text-gray-600">Feedback</span>
    </li>
    <hr class="my-1">
    <li>
      <a href="https://github.com/trytouca" target="_blank"
        rel="noopener noreferrer" title="Give us a Star on GitHub">
        <ng-icon name="feather-github" size="1rem">
        </ng-icon>
      </a>
      <a href="https://twitter.com/trytouca" target="_blank"
        rel="noopener noreferrer" title="Let's be friends on Twitter">
        <ng-icon name="feather-twitter" size="1rem">
        </ng-icon>
      </a>
      <a href="https://linkedin.com/company/touca" target="_blank"
        rel="noopener noreferrer" title="Follow us on LinkedIn">
        <ng-icon name="feather-linkedin" size="1rem">
        </ng-icon>
      </a>
    </li>
  </ul>
</div>
