<div class="wsl-batches-first">
  <div class="wsl-batches-first-head">
    <div class="wsl-batches-first-left">
      <div class="wsl-batches-first-form" *ngIf="fields">
        <h2>Submit Your First Version</h2>
        <div>
          <p>
            We are all set! Use the following values when configuring Weasel
            in your regression test application to submit testresults to this
            suite.
          </p>
        </div>
        <div class="wsl-input-group">
          <div class="wsl-input-group-prepend">API Key</div>
          <div class="wsl-input-group-text">{{ fields.apiKey }}</div>
          <div class="wsl-input-group-append"
            ngxClipboard [cbContent]="fields.apiKey" (cbOnSuccess)="onCopy($event, 'API Key')">
            <span title="Copy API Key to clipboard">
              <fa-icon icon="clipboard"></fa-icon>
            </span>
          </div>
        </div>
        <div class="wsl-input-group">
          <div class="wsl-input-group-prepend">API URL</div>
          <div class="wsl-input-group-text">{{ fields.apiUrl }}</div>
          <div class="wsl-input-group-append"
            ngxClipboard [cbContent]="fields.apiUrl" (cbOnSuccess)="onCopy($event, 'API URL')">
            <span title="Copy API URL to clipboard">
              <fa-icon icon="clipboard"></fa-icon>
            </span>
          </div>
        </div>
      </div>
      <div class="wsl-client-libraries">
        <h4>Client Libraries</h4>
        <p>
          Weasel offers open-source client libraries for the following
          languages. Click on your desired language for instructions to
          obtain the appropriate library, integrate it with your application
          and use it to submit results to the platform.
        </p>
        <a href="/docs/clients/cpp/index.html" target="_blank">
          <div class="wsl-client-library">
            <img src="./assets/icons/client-cpp.svg" />
          </div>
        </a>
      </div>
    </div>
    <div class="wsl-batches-first-right">
      <img src="./assets/undraw/undraw_blank_canvas_3rbb.svg" />
    </div>
  </div>
</div>
