<div class="wsl-list-item">
  <div class="wsl-item-heading">
    <div *ngIf="icon" class="wsl-item-status">
      <fa-icon [icon]="icon.type" [spin]="icon.spin" [ngStyle]="{color: icon.color}"></fa-icon>
    </div>
    <div class="Wsl-item-title">
      <a [routerLink]="data.link" [queryParams]="data.query">
        <h4>{{ data.name }}</h4>
      </a>
    </div>
  </div>
  <div class="wsl-item-topics">
    <div *ngFor="let topic of topics" class="wsl-item-topic">
      <span [attr.title]="topic.title || null">
        {{ topic.text }}
      </span>
    </div>
  </div>
</div>
