<div class="wsl-list-item">
  <div class="wsl-item-heading">
    <div *ngIf="icon" class="wsl-item-status">
      <fa-icon [icon]="icon.type" [spin]="icon.spin"
        [ngStyle]="{color: icon.color}"></fa-icon>
    </div>
    <div class="wsl-item-title">
      <a [routerLink]="data.link" [queryParams]="data.query">
        <h4>{{ data.name }}</h4>
      </a>
    </div>
  </div>
  <div class="flex flex-row space-x-1 text-xs leading-6 md:leading-8">
    <div *ngFor="let topic of shownTopics"
      class="flex items-center px-2 space-x-1 overflow-hidden text-gray-500 bg-white border rounded-full cursor-pointer hover:text-black lg:px-4 whitespace-nowrap"
      (click)="topic.click()">
      <div class="hidden w-2 h-2 rounded lg:block" [ngClass]="topic.color"
        *ngIf="flag_colored_topics">
      </div>
      <span [attr.title]="topic.title || null">
        {{ topic.text }}
      </span>
    </div>
  </div>
</div>
