<section class="wsl-page-tab" id="wsl-suite-batches">
  <app-home-list-filter [manager]="filterManager" [params]="filterParams()"
    [stats]="filterStats()" (updateList)="updateList($event)">
  </app-home-list-filter>
  <div class="wsl-list" *ngIf="countShownRows(ItemType.Batch)">
    <div class="wsl-list-head">
      <p *ngIf="countShownRows(ItemType.Batch) !== countRows(ItemType.Batch)">
        You are viewing
        <b>{{ countShownRows(ItemType.Batch) | i18nPlural: { '=0': 'none', '=1': 'one', 'other': '#' } }}</b>
        of {{ countRows(ItemType.Batch) }} versions.
      </p>
    </div>
    <ul class="wsl-list-body">
      <li class="wsl-list-item-outer"
        *ngFor="let item of getShownRows(ItemType.Batch); let i = index;"
        (click)="selectedRow = i;" [ngClass]="{'bg-sky-50': selectedRow === i}">
        <app-suite-item-batch *ngIf="item.type === ItemType.Batch"
          [item]="item.asBatch()">
        </app-suite-item-batch>
      </li>
    </ul>
  </div>
  <app-home-list-pager [params]="pagerParams()" [stats]="filterStats()"
    (updateList)="updateList($event)">
  </app-home-list-pager>
</section>
