<app-notification></app-notification>
<ng-container *ngIf="notFound()">
  <app-home-notfound [args]="notFound()">
  </app-home-notfound>
</ng-container>
<div *ngIf="!notFound()" [hidden]="!suite">
  <div class="wsl-page-head">
    <div class="wsl-page-head-content">
      <nav aria-label="breadcrumb">
        <ol>
          <li>
            <a routerLink="..">{{ suite?.teamName }}</a>
          </li>
          <li aria-current="page" wslDropdown>
            <span class="wsl-dropdown-toggle" id="wsl-suites-dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ suite?.suiteName }}&thinsp;<fa-icon icon="chevron-down"
                size="xs"></fa-icon>
            </span>
            <ul class="wsl-dropdown-menu hidden w-48"
              aria-labelledby="wsl-suites-dropdown">
              <li *ngFor="let suiteItem of suites"
                (click)="switchPage(suiteItem.suiteSlug)"
                class="wsl-dropdown-item"
                [ngClass]="{'bg-light-blue-100': suite?.suiteSlug === suiteItem.suiteSlug}">
                {{ suiteItem.suiteName }}
              </li>
            </ul>
          </li>
        </ol>
      </nav>
      <div class="inline-block" wslDropdown
        *ngIf="currentTab === TabType.Versions && hasData() && hasItems()">
        <button class="wsl-dropdown-toggle wsl-btn-sm wsl-btn-dark"
          id="wsl-suite-quick-settings" aria-haspopup="true"
          aria-expanded="false">
          <svg class="inline h-4" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"
              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
          </svg>
          Submit
        </button>
        <div class="wsl-dropdown-menu hidden w-80"
          aria-labelledby="wsl-suite-quick-settings">
          <div class="wsl-quick-settings-header">
            <svg class="h-4" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg><span class="font-medium">Using Client Libraries</span>
          </div>
          <div class="wsl-input-group">
            <div class="wsl-input-group-label">API Key</div>
            <div class="wsl-input-group-param">
              <div class="wsl-input-group-text">{{ fields.apiKey }}</div>
              <div class="wsl-input-group-append" ngxClipboard
                [cbContent]="fields.apiKey"
                (cbOnSuccess)="onCopy($event, 'API Key')">
                <span title="Copy API Key to clipboard">
                  <svg class="h-4" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="wsl-input-group">
            <div class="wsl-input-group-label">API URL</div>
            <div class="wsl-input-group-param">
              <div class="wsl-input-group-text">{{ fields.apiUrl }}</div>
              <div class="wsl-input-group-append" ngxClipboard
                [cbContent]="fields.apiUrl"
                (cbOnSuccess)="onCopy($event, 'API URL')">
                <span title="Copy API URL to clipboard">
                  <svg class="h-4" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wsl-page-nav">
      <nav>
        <ul>
          <ng-container *ngFor="let tab of tabs">
            <li *ngIf="tab.shown" (click)="switchTab(tab.type)"
              [ngClass]="{'wsl-page-tab-active': tab.type === currentTab }">
              <span class="wsl-nav-icon">
                <fa-icon [icon]="tab.icon"></fa-icon>
              </span>
              <span class="wsl-nav-text">{{ tab.name }}</span>
              <span class="wsl-nav-counter"
                *ngIf="tab.counter">{{ tab.counter }}</span>
            </li>
          </ng-container>
        </ul>
      </nav>
      <nav>
        <ul>
          <li (click)="toggleSubscription()">
            <span class="wsl-nav-icon">
              <fa-icon icon="bell"></fa-icon>
            </span>
            <span [title]="fields.subscribe?.title"
              [hidden]="!fields.subscribe?.name"
              class="wsl-nav-text">{{ fields.subscribe?.name }}</span>
            <span
              title="{{ fields.subscribe?.count }} users have subscribed to this suite."
              [hidden]="fields.subscribe?.count === 0"
              class="wsl-nav-counter">{{ fields.subscribe?.count }}</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div [hidden]="currentTab !== TabType.Versions || !hasData() || hasItems()">
    <app-suite-first-batch>
    </app-suite-first-batch>
  </div>
  <div [hidden]="currentTab !== TabType.Versions || !hasData() || !hasItems()">
    <app-suite-tab-batches>
    </app-suite-tab-batches>
  </div>
  <div [hidden]="currentTab !== TabType.Trends">
    <app-suite-tab-trends>
    </app-suite-tab-trends>
  </div>
  <div [hidden]="currentTab !== TabType.Settings">
    <app-suite-tab-settings>
    </app-suite-tab-settings>
  </div>
</div>
