<div class="py-2 px-6">
  <div class="flex justify-between">
    <p class="text-sm">
      <b *ngIf="item.bySelf" class="font-medium">
        <span [title]="item.by.fullname" class="sr-only">You</span>
        <span class="not-sr-only">{{ item.by.fullname }}</span>
      </b>
      <b *ngIf="!item.bySelf" class="font-medium">{{ item.by.fullname }}</b>
      promoted baseline of this suite to version
      <b class="font-medium">{{ item.to }}</b>.
    </p>
    <div class="text-xs wsl-text-muted">
      {{ item.at | amTimeAgo }}
    </div>
  </div>
  <blockquote *ngIf="item.for" class="px-4 m-2 border-l-4 text-sm">
    <markdown [data]="item.for" class="prose prose-sm">
    </markdown>
  </blockquote>
</div>
