<div class="p-4 space-y-4">
  <p class="text-md text-black dark:text-gray-300">
    All set! Enjoy using Touca!
    <a class="text-sky-600" href="https://touca.io/discord" target="_blank">
      Join us on Discord
    </a>
    if you had questions or needed any help.
  </p>
  <div class="wsl-form-footer">
    <div class="wsl-form-submit flex justify-end">
      <button class="wsl-btn-lg wsl-btn-primary" (click)="navigateToSignup()">
        Create Account
      </button>
    </div>
  </div>
</div>
