<div class="space-y-4 p-4">
  <div class="space-y-2 text-sm text-black dark:text-gray-300">
    <p>All set! Enjoy using Touca!</p>
    <p>
      <a class="text-sky-600" href="https://touca.io/discord" target="_blank">
        Join us on Discord
      </a>
      if you had questions or needed any help.
    </p>
  </div>
  <div class="wsl-form-footer">
    <div class="wsl-form-submit flex justify-end">
      <button class="wsl-btn-lg wsl-btn-primary" (click)="proceed()">
        Start
      </button>
    </div>
  </div>
</div>
