<div *ngIf="isApiConnectionDown">
  <app-header-outside></app-header-outside>
  <app-server-down></app-server-down>
  <app-footer-outside></app-footer-outside>
</div>
<div *ngIf="!isApiConnectionDown">
  <app-header-inside></app-header-inside>
  <div class="wsl-min-h-screen-1 border-t">
    <div *ngFor="let alert of alerts" role="alert" class="wsl-alert h-12 flex items-center justify-center" [ngClass]="alert.type">
      <small [innerHtml]="alert.message" class="wsl-alert-text"></small>
    </div>
    <div>
      <router-outlet>
      </router-outlet>
    </div>
  </div>
  <app-footer-inside></app-footer-inside>
</div>
