---
Checks: "*,\
-fuchsia-default-arguments,\
-google-readability-namespace-comments,\
-llvm-header-guard,\
-llvm-include-order,\
-llvm-namespace-comment,\
-readability-implicit-bool-conversion,\
-readability-simplify-boolean-exp,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-misc-unused-alias-decls,\
"
HeaderFilterRegex: ''
...

