/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use "../../styles/weaselcss.scss";

.wsl-comment {
  padding: 0.5rem 0;
  .wsl-comment-header {
    p {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 1rem;
    }
    b {
      color: weaselcss.weasel-color("template-strong-secondary");
      font-weight: 500;
    }
    small {
      color: weaselcss.weasel-color("text-muted");
    }
    small:not(:first-child) {
      padding-left: 0.5rem;
    }
  }
  blockquote {
    border-left: 3px solid weaselcss.weasel-color("border-gray");
    padding-left: 1rem;
    margin: 0.5rem;
    @include weaselcss.weasel-markdown-main()
  }
  .wsl-comment-footer {
    a {
      color: weaselcss.weasel-color("text-muted");
      font-size: small;
    }
    a:not(:last-child):after {
      content: "\2002\2002\2002";
    }
  }
}
