<article class="py-2">
  <div class="flex space-x-4">
    <div class="text-sky-600">
      <b>{{ meta.commentAuthor }}</b>
    </div>
    <div class="space-x-4 wsl-text-muted">
      <small title="{{ meta.commentTime | datetime:'format' }}">
        {{ meta.commentTime | datetime:'distance' }}
      </small>
      <small *ngIf="meta.commentEditTime"
        title="{{ meta.commentEditTime | datetime:'format' }}">
        (edited {{ meta.commentEditTime | datetime:'distance' }})
      </small>
    </div>
  </div>
  <blockquote class="px-4 m-2 border-l-2 border-gray-200">
    <markdown [data]="meta.commentBody" class="prose-sm prose">
    </markdown>
  </blockquote>
  <div class="space-x-4">
    <a class="text-sm text-blue-500" role="button" *ngIf="meta.showButtonReply"
      (click)="performAction(ActionType.Reply)">Reply</a>
    <a class="text-sm text-blue-500" role="button" *ngIf="meta.showButtonUpdate"
      (click)="performAction(ActionType.Update)">Edit</a>
    <a class="text-sm text-blue-500" role="button" *ngIf="meta.showButtonRemove"
      (click)="performAction(ActionType.Remove)">Delete</a>
  </div>
</article>
