<div class="wsl-modal-header">
  <h4 class="wsl-modal-title">{{ elements.title }}</h4>
</div>
<div class="wsl-modal-body">
  <app-alert [alert]="alert"></app-alert>
  <form class="wsl-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <p [innerHtml]="elements.message"></p>
    <div class="wsl-form-footer">
      <div class="wsl-form-submit">
        <button type="submit" tabindex="2" class="wsl-btn-lg wsl-btn-dark">
          {{ elements.button }}
        </button>
      </div>
      <div class="wsl-form-links">
        <button type="button" (click)="closeModal()" tabindex="3" class="wsl-btn-lg wsl-btn-light">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
