/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

@use "../../styles/weaselcss.scss";

.wsl-feedback-link {
  @include weaselcss.weasel-container();
  text-align: right;
  padding: 1rem;
  font-size: small;
  a {
    color: weaselcss.weasel-color("text-muted") !important;
  }
}
