<div class="px-4 py-2 mx-auto container md:grid md:grid-cols-3 text-sm"
  *ngIf="isFirstPage() && isLastPage() && pageLengths.length === 1">
  <div></div>
  <div class="grid grid-cols-3 text-sm">
    <div
      [style.visibility]="isFirstPage() ? 'hidden' : 'visible'"
      (click)="previousPage()">
      Previous Page
    </div>
    <div
      [style.visibility]="isFirstPage() && isLastPage() ? 'hidden' : 'visible'">
      Page&nbsp;
      <div class="inline-block" wslDropdown>
        <div class="wsl-dropdown-toggle" id="pagen-dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="font-medium">{{ pageNumber }}</span>&nbsp;<fa-icon icon="chevron-down" size="xs"></fa-icon>
        </div>
        <div class="wsl-dropdown-menu hidden">
          <form id="wsl-pagen-form">
            <input class="wsl-input-field" type="number"
              placeholder="Go to page..." autocomplete="off"
              min="1" max="{{ lastPageNumber }}"
              name="pageNumber" id="pageNumber"
              (keyup)="onKeyupPageNumber($event)">
          </form>
          <hr class="my-2">
          <div class="wsl-dropdown-item" *ngFor="let number of pageNumbers" (click)="pageNumber=number.slug">
            {{ number.slug }}
            <ng-container *ngFor="let tag of number.tags">
              <span>&thinsp;({{ tag }})</span>
            </ng-container>
          </div>
        </div>
      </div>
      &nbsp;of&nbsp;<span class="font-medium">{{ lastPageNumber }}</span>
    </div>
    <div [style.visibility]="isLastPage() ? 'hidden' : 'visible'" (click)="nextPage()">
      Next Page
    </div>
  </div>
  <div class="md:text-right">
    <ng-container *ngIf="pageLengths.length">
      You are viewing
      <div class="inline-block" *ngIf="1 < pageLengths.length" wslDropdown>
        <div class="wsl-dropdown-toggle" id="pagel-dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="font-medium">{{ pageLength }}</span>&nbsp;<fa-icon icon="chevron-down" size="xs"></fa-icon>
        </div>
        <div class="wsl-dropdown-menu hidden">
          <div class="wsl-dropdown-item" *ngFor="let length of pageLengths" (click)="pageLength=length">
            {{ length }}
          </div>
        </div>
      </div>
      <span *ngIf="pageLengths.length < 2">{{ pageLength }}</span>
      keys per page.
    </ng-container>
  </div>
</div>
