/**
 * Copyright 2018-2020 Pejman Ghorbanzade. All rights reserved.
 */

 @use "../../styles/weaselcss.scss";

.wsl-pager {
  @include weaselcss.weasel-container();
  padding: 0 1rem;
  & > div {
    padding: 0.5rem 0;
  }
  .wsl-pager-buttons {
    display: grid;
    font-size: small;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .wsl-pager-button {
    text-align: center;
  }
  .wsl-pagel-dropdown {
    font-size: small;
    text-align: center;
  }
  .wsl-pagen-dropdown {
    font-size: small;
  }
  .dropdown-toggle {
    font-weight: bold;
  }
  .dropdown-toggle::after {
    margin-left: 0px;
  }
  .dropdown-menu {
    padding: 0.5rem 0;
    .dropdown-item {
      font-size: 0.875rem;
    }
  }
  input {
    margin: 0 0.5rem;
  }
}

@media (min-width: #{weaselcss.$weasel-breakpoint-md}) {
  .wsl-pager {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & > div {
      padding: initial;
    }
    .wsl-pagel-dropdown {
      text-align: right;
    }
  }
}
