<div class="flex items-stretch space-x-2 whitespace-nowrap">
  <form class="flex-grow">
    <input type="search" placeholder="{{ filterQueryPlaceholder }}&hellip;"
      autocomplete="off" name="rowFilter" id="rowFilter"
      (keyup)="onKeyupRowFilter($event)" [value]="filterQueryValue"
      class="wsl-input-field">
  </form>
  <div wslDropdown>
    <button type="button" id="dropdown-button-filter" aria-haspopup="true"
      aria-expanded="false"
      class="h-full wsl-btn-sm wsl-btn-muted wsl-dropdown-toggle">
      Filter: <b class="font-medium">{{ filterName }}</b>&nbsp;<fa-icon
        icon="chevron-down" size="xs" class="opacity-50"></fa-icon>
    </button>
    <ul class="hidden w-48 wsl-dropdown-menu"
      aria-labelledby="dropdown-button-filter">
      <li *ngFor="let filter of filters" (click)="filterName=filter.key"
        class="wsl-dropdown-item">
        {{ filter.name }}
      </li>
    </ul>
  </div>
  <div wslDropdown>
    <button type="button" id="dropdown-button-sort" aria-haspopup="true"
      aria-expanded="false" [disabled]="isSearchActive()"
      class="h-full wsl-btn-sm wsl-btn-muted wsl-dropdown-toggle">
      Sort: <b class="font-medium">{{ sorterName }}</b>&nbsp;<fa-icon
        icon="chevron-down" size="xs" class="opacity-50"></fa-icon>
    </button>
    <ul class="hidden w-48 wsl-dropdown-menu"
      aria-labelledby="dropdown-button-sort">
      <li *ngFor="let sorter of sorters" (click)="sorterName=sorter.key"
        class="wsl-dropdown-item">
        {{ sorter.name }}
      </li>
    </ul>
  </div>
  <div>
    <button (click)="sortOrderToggle()" [disabled]="isSearchActive()"
      class="h-full wsl-btn-sm wsl-btn-muted">
      <fa-icon [icon]="sortOrderIcon"></fa-icon>
    </button>
  </div>
</div>
<ng-container
  *ngIf="stats.totalUnpaginatedRows !== stats.totalRows || (stats.totalUnpaginatedRows === 0 && stats.totalRows === 0)">
  <div *ngIf="stats.totalUnpaginatedRows !== 0"
    class="flex items-center justify-between mt-4">
    <p class="text-sm text-black dark:text-gray-300">
      <b>{{ stats.totalUnpaginatedRows }}</b> of <b>{{ stats.totalRows }}</b>
      rows match this filter.
    </p>
    <button (click)="clearFilters()" class="wsl-btn-sm wsl-btn-muted">
      <span>Clear Filters</span>
    </button>
  </div>
  <div *ngIf="stats.totalUnpaginatedRows === 0"
    class="flex items-center justify-center p-2 mt-4 bg-gray-100 border border-gray-200 dark:border-gray-700 dark:bg-gray-800"
    style="min-height: 20vh;">
    <div
      class="flex flex-col space-y-4 text-sm text-center text-black dark:text-gray-300">
      <p>
        {{ stats.totalRows | i18nPlural: { '=0': 'This page appears to have no result.', '=1': 'The row in this list does not match the specified filter.', 'other': 'None of the # rows in this list matches the specified filter.' } }}
      </p>
      <div *ngIf="stats.totalRows !== 0">
        <button (click)="clearFilters()" class="wsl-btn-sm wsl-btn-primary">
          <span>Clear Filters</span>
        </button>
      </div>
    </div>
  </div>
</ng-container>
