<div class="px-4 mx-auto container wsl-page-overview">
  <div class="py-2 grid bg-gray-50 border divide-x"
    style="grid-template-columns:  1fr auto 1fr;">
    <div class="px-4 text-center" [hidden]="!resultsRing">
      <small>{{ resultsRing?.header }}</small>
      <svg class="mx-auto" width="80" height="80">
        <circle fill="transparent" r="32" cx="40" cy="40" stroke-width="4"
          [attr.stroke]="resultsRing?.backColor" />
        <circle fill="transparent" r="32" cx="40" cy="40" stroke-width="4"
          [attr.stroke]="resultsRing?.frontColor" />
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle"
          [attr.fill]="resultsRing?.frontColor">
          {{ resultsRing?.title }}
        </text>
      </svg>
      <div *ngFor="let footer of resultsRing?.footer">
        <small>{{ footer }}</small>
      </div>
    </div>
    <div class="p-4 flex flex-col justify-center">
      <p class="text-sm mb-2" *ngFor="let statement of statements">
        <span [innerHTML]="statement"></span>
      </p>
    </div>
    <div class="px-4 text-center" [hidden]="!metricsRing">
      <small>{{ metricsRing?.header }}</small>
      <svg class="mx-auto" width="80" height="80">
        <circle fill="transparent" r="32" cx="40" cy="40" stroke-width="4"
          [attr.stroke]="metricsRing?.backColor" />
        <circle fill="transparent" r="32" cx="40" cy="40" stroke-width="4"
          [attr.stroke]="metricsRing?.frontColor" />
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle"
          [attr.fill]="metricsRing?.frontColor">
          {{ metricsRing?.title }}
        </text>
      </svg>
      <div *ngFor="let footer of metricsRing?.footer">
        <small>{{ footer }}</small>
      </div>
    </div>
  </div>
</div>
